<% if questions[:next].is_a?(Question) || questions[:prev].is_a?(Question) %>
    <nav class="adjacent">
      <ul>
        <li>
          <% unless questions[:prev].blank? %>
              <span><%= question_link questions[:prev] %></span>
          <% end %>
        </li>
        <li>
          <% unless questions[:next].blank? %>
              <span><%= question_link questions[:next] %></span>
          <% end %>
        </li>
      </ul>
    </nav>
<% end %>
