<section class="comments">
  <h1><%= t(:answer, count: question.comments.count) %></h1>
  <%= render question.comments %>
  <% if current_user %>
      <section>
        <h1><%= t('.add_answer') %></h1>
        <%= render partial: 'comments/form', locals: { entity: question.comments.new } %>
      </section>
  <% else %>
      <p class="warning">Отвечать могут только зарегистрированные пользователи.</p>
  <% end %>
</section>
