<section class="answers">
  <h1><%= t(:answer, count: question.answers.count) %></h1>
  <%= render question.answers %>
  <% if current_user %>
      <section>
        <h1><%= t('.add_answer') %></h1>
        <% @answer = question.answers.new %>
        <%= render 'answers/form' %>
      </section>
  <% else %>
  <p class="notice">Отвечать могут только зарегистрированные пользователи.</p>
  <% end %>
</section>