<section class="comments">
  <h2><%= t(:answer, count: question.comments.count) %></h2>

  <%= render question.comments %>
  <% if current_user %>
      <section>
        <h3><%= t('.add_answer') %></h3>
        <%= render partial: 'comments/form', locals: { entity: question.comments.new } %>
      </section>
  <% else %>
      <div class="warning">Отвечать могут только зарегистрированные пользователи.</div>
  <% end %>
</section>
