<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |metric| %>
      <li>
        <%= render partial: 'admin/metrics/entity/in_list', locals: { metric: metric } %>
      </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
