<% if dreams[:next].is_a?(Dream) || dreams[:prev].is_a?(Dream) %>
    <nav class="adjacent">
      <ul>
        <li><%= dream_link dreams[:prev], current_user unless dreams[:prev].blank? %></li>
        <li><%= dream_link dreams[:next], current_user unless dreams[:next].blank? %></li>
      </ul>
    </nav>
<% end %>
