<article class="dream">
  <h1><%= dream.title_for_view %></h1>
  <div>
    <%= raw prepare_dream_text(dream, current_user) %>
  </div>

  <%= render partial: 'comments/list', locals: { commentable: dream, comments: dream.comments } %>
</article>