<% if collection.any? %>
    <div class="list-of-dreams">
      <% collection.each do |dream| %>
          <%= render partial: 'dreams/preview', locals: { dream: dream } %>
      <% end %>
    </div>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
