<% if collection.any? %>
  <% component = Biovision::Components::BaseComponent.handler('dreams') %>
  <div class="dreams-list">
    <% collection.each do |dream| %>
      <%=
        render(
            partial: 'dreams/preview',
            locals: {
                component: component,
                dream: dream
            }
        )
      %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
