<% if collection.any? %>
  <% handler ||= component_handler %>
  <div class="dreams-list">
    <% collection.each do |dream| %>
      <%=
        render(
            partial: 'dreams/preview',
            locals: {
                handler: handler,
                dream: dream
            }
        )
      %>
    <% end %>
  </div>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
