<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
  <nav>
    <ul>
      <li><%= link_to t('.view'), @entry %></li>
    </ul>
  </nav>
</header>

<%= render 'form' %>

<%= render 'common/metrics' %>
