<% content_for :meta_title, t('.title') %>
<%= render 'shared/metrics' %>

<section class="edit-dream">
  <header>
    <h1><%= t('.header') %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:view), @dream %></li>
      </ul>
    </nav>
  </header>

  <%= render 'form' %>
</section>
