<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>
<%= render 'shared/metrics' %>

<section class="new-dream">
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render 'form' %>
</section>
