<header>
  <h1><%= t('.header') %></h1>
  <% if @entry.editable_by? current_user %>
  <nav>
    <ul>
      <li><%= link_to t('.edit'), edit_entry_dream_path(@entry) %></li>
    </ul>
  </nav>
  <% end %>
</header>

<%= render partial: 'entries/entry', object: @entry %>
