<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ title:render }}</title>
    <link rel="stylesheet" href="/css/sovia.css" />
    <script type="text/javascript" src="/js/sovia.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/ie-fallback.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div><a href="/" title="На главную"><img src="/images/owl.png" width="250" height="50" alt="Sovia" /></a></div>
    <nav>
        <ul>
            <li>{{ link:render {"route": "articles", "text": "Статьи"} }}</li>
            <li>{{ link:render {"route": "dreams", "text": "Сны"} }}</li>
            <li>{{ link:render {"route": "dreambook", "text": "Сонник"} }}</li>
            <li>{{ link:render {"route": "forum", "text": "Сообщество"} }}</li>
            <li>{{ link:render {"route": "about", "text": "О проекте"} }}</li>
        </ul>
    </nav>
</header>

<section id="content">
{{ content:render }}
{{ Sovia.something:render }}
</section>

<section id="right-column">
    <aside>
        Авторизация
    </aside>

    <aside>
        <header>Чаще всего снится</header>
        <nav>
            <ul>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
            </ul>
        </nav>
    </aside>

    <aside>
        <header>Случайный сон (<a href="/">Название</a>)</header>
        <p>Тут будет текст сна</p>
    </aside>

    <aside>
        <header>Что ещё можно посмотреть</header>
        <nav>
            <ul>
                <li>{{ link:render {"route": "archive", "text": "Архив снов"} }}</li>
                <li>{{ link:render {"route": "random_dream", "text": "Случайный сон"} }}</li>
            </ul>
        </nav>
    </aside>

    <aside class="sape">
        <header>Реклама</header>
    </aside>
</section>

<footer>
    <div>&copy; 2006&ndash;2013 sovia.ru</div>
    <div>{{ link:render {"route": "tos", "text": "Пользовательское соглашение"} }}</div>
</footer>

</body>
</html>