<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ title:render }}</title>
    <link rel="stylesheet" href="/css/sovia.css" />
    <script type="text/javascript" src="/js/sovia.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/ie-fallback.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div><a href="/" title="На главную"><img src="/images/owl.png" width="250" height="50" alt="Sovia" /></a></div>
    <nav>
        <ul>
            <li>{{ link:render articles, "Статьи" }}</li>
            <li>{{ link:render dreams, "Сны" }}</li>
            <li>{{ link:render dreambook, "Сонник" }}</li>
            <li>{{ link:render forum, "Сообщество" }}</li>
            <li>{{ link:render about, "О проекте" }}</li>
        </ul>
    </nav>
</header>

<section id="content">
{{ content:render }}
</section>

<section id="right-column">
    <aside>
        Авторизация
    </aside>

    <aside>
        <header>Чаще всего снится</header>
        <nav>
            <ul>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
                <li><a href="/">Символ</a> (количество)</li>
            </ul>
        </nav>
    </aside>

    <aside>
        <header>Случайный сон (<a href="/">Название</a>)</header>
        <p>Тут будет текст сна</p>
    </aside>

    <aside>
        <header>Что ещё можно посмотреть</header>
        <nav>
            <ul>
                <li>{{ link:render archive, "Архив снов" }}</li>
                <li>{{ link:render random_dream, "Случайный сон" }}</li>
            </ul>
        </nav>
    </aside>

    <aside class="sape">
        <header>Реклама</header>
    </aside>
</section>

<footer>
    <div>&copy; 2006&ndash;2013 sovia.ru</div>
    <div>{{ link:render tos, "Пользовательское соглашение" }}</div>
</footer>

</body>
</html>