<section class="interpretation">
  <h2><%= t('.automatic_interpretation') %></h2>

  <dl>
    <% dream.patterns.good_for_dreambook.long_enough.ordered_by_popularity.first(20).each do |pattern| %>
        <dt><%= pattern_in_dreambook pattern %></dt>
        <dd>
          <% if pattern.essence.blank? %>
              <%= t('.see_dreambook') %>
          <% else %>
              <%= pattern.essence %>
          <% end %>
        </dd>
    <% end %>
  </dl>
</section>
