<div class="image">
  <% unless grain.image.blank? %>
  <%= image_tag grain.image.small.url, alt: grain.name %>
  <% end %>
</div>
<div class="data">
  <div><%= link_to grain.name, my_grain_path(grain) %></div>
  <div class="info">
    <%= link_to t(:dream, count: grain.dreams_count), dreams_my_grain_path(grain) %>
  </div>

  <ul class="actions">
    <li><%= edit_icon edit_grain_path(grain) %></li>
  </ul>
</div>
