<section>
  <h1><%= t('.advantages') %></h1>
  <ul>
    <li>
      <p>Личный дневник снов.</p>
      <p>Вы будете иметь доступ к своему персональному дневнику снов. Для каждого сна можно настроить видимость.</p>
    </li>
    <li>
      <p>Получение ответов на вопросы.</p>
      <p>Вы сможете задавать вопросы, связанные со своими снами, и получать ответы на них.</p>
    </li>
    <li>
      <p>Участие в обсуждениях.</p>
      <p>Вы сможете добавлять статьи, а также участвовать в обсуждениях снов, публикаций, вопросов и сонника.</p>
    </li>
    <li>
      <p>Личные образы снов.</p>
      <p>Вы будете иметь доступ к личной статистике образов снов и смотреть, что вам снится чаще всего.</p>
    </li>
    <li>
      <p>Журнал успеха.</p>
      <p>Вы сможете ставить перед собой цели и фиксировать процесс их достижения вами.</p>
    </li>
  </ul>
</section>
