/*
 *= require_self
 *= require_tree .
 */

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3:first-letter {
  text-transform: uppercase;
}

ul, ol {
  margin: 0;
  padding: 0 0 0 2em;
}

p {
  margin: 0.5em 0 0.3em 0;
  text-indent: 1.5em;
}

progress {
  min-width: 300px;
}

body {

  > section:first-of-type {
    background: #ffffff;
    border-radius: 16px;
    padding: 16px;
    margin: 0;
    min-height: 400px;
    position: relative;

    > header {
      margin: 0 284px 0 0;

      nav {
        ul {
          padding: 0;

          li {
            list-style: none;
            display: inline-block;
            padding: 0 0.5em;

            &:before {
              content: '[ ';
            }

            &:after {
              content: ' ]';
            }
          }
        }
      }
    }

    > article {
      margin: 0 284px 16px 0;
      position: relative;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    > section:last-of-type {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;

      > div {
        background: #dddddd;
        border-radius: 16px;
        margin: 16px;
        padding: 0.5em;
        font-size: 0.9em;

        a:link, a:visited {
          color: #3d6d88;
        }

        ol {
          margin: 0 0 0 2em;
          padding: 0;

          li:first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
  }

}


form {
  > div {
    margin: 0 0 0.5em 0;

    &:last-child {
      margin: 0;
    }

    > div {
      width: 500px;
      position: relative;

      input, textarea {
        width: 480px;
        max-width: 480px;
      }

      input + div, textarea + div {
        position: absolute;
        top: -5px;
        left: 500px;
        min-width: 300px;
        width: 100%;
        display: none;
        background: #f6fff6;
        border: solid #e0ffd8 1px;
        border-radius: 3px;
        padding: 0.3em;
        color: #333333;
        font-size: 0.9em;
        box-shadow: -5px 5px 5px #777777;

        p {
          margin: 0;
          text-indent: 0;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 0 0.5em;
            list-style: none;

            span:first-of-type {
              background: #eeeeee;
              padding: 0.1em 0.3em;
            }
          }
        }
      }

      input:focus + div, textarea:focus + div {
        display: block;
      }
    }
  }

  div.notice {
    color: #666666;
    font-size: 0.8em;
  }
}

label:first-letter {
  text-transform: capitalize;
}


nav.pagination {
  margin: 1em 1em 0;

  span {
    display: inline-block;
    padding: 0 0.3em;
    border: solid #eeeeee 1px;

    &.current {
      background: #eeeeee;
    }

    &.gap {
      border: none;
    }
  }
}

span.not-found {
  color: #ff8080;
}

span.name {
  border-bottom: dotted 1px;
  cursor: default;
}

section.entries {
  position: relative;
}

p.notice {
  font-size: 0.9em;
  color: #777777;
  font-style: italic;
  margin-top: 0;
  text-indent: 0;
}