<% content_for :meta_title, t('.title', tag: @tag.name, page: current_page) %>
<% content_for :sidebar do %>
<% end %>

<article class="posts">
  <h1><%= t('.header', tag: @tag.name) %></h1>

  <%= paginate @collection %>
  <%= render partial: 'posts/list', locals: { posts: @collection } %>
  <%= paginate @collection %>
</article>
