article.post {
  figure {
    border-bottom: $border-secondary;
    margin: 0 auto;
    max-width: 64rem;
    padding: 0 0 var(--spacer-xs) 0;
  }

  figcaption {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  .image_source {
    color: $text-color-secondary;
    font-size: var(--font-size-decreased);
    margin-left: auto;
  }

  .body {
    padding: var(--spacer-xxs);
  }

  footer {
    align-items: center;
    background: $background-post-footer;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-decreased);
    padding: var(--spacer-xs);

    .author {
      margin: 0 var(--spacer-s) 0 0;
    }

    .author-title {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }

    .source {
      color: $text-color-secondary;
      margin-left: auto;
    }

    .time {
      margin: var(--spacer-xs) 0 0 0;
      width: 100%;
    }
  }
}
