.post-tags {
  margin: 0;
  padding: var(--spacer-xxs);

  li {
    display: inline-block;
    font-size: var(--font-size-decreased);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a:link,
  a:visited {
    background: $background-post-tag;
    display: inline-block;
    padding: var(--spacer-xs);
  }
}
