<article>
  <p>В соннике собраны общие интерпретации символов. Имейте в виду, что лучше сначала подумать над тем,
    с чем у вас лично ассоциируется то или иное увиденное во сне, и если особых идей нет, то уже тогда
    смотреть в сонник.</p>
  <p>Дело в том, что при наличии каких-то общих для всех моментов, каждый символ всё равно будет иметь
    для разных людей разный смысл.</p>
  <p>Работа над сонником ведётся постоянно, так что он улучшается и дополняется.</p>
</article>
