<% if @letters.any? %>
    <section>
      <h1><%= t('.select_letter') %></h1>
      <nav class="dreambook-letters">
        <ul>
          <% @letters.each do |letter| %>
              <li><%= link_to letter, dreambook_letter_path(letter: letter) %></li>
          <% end %>
        </ul>
      </nav>
    </section>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
