<header>
  <h1><%= t('titles.dreambook.index') %></h1>
</header>
<% if @letters.any? %>
    <h2><%= t('.select_letter') %></h2>
    <nav class="dreambook-letters">
      <ul>
        <% @letters.each do |letter| %>
        <li><%= link_to letter, dreambook_letter_path(letter: letter) %></li>
        <% end %>
      </ul>
    </nav>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>