<%= render 'letters' %>

<% if @tags.any? %>
    <nav>
      <ul>
        <% @tags.each do |word| %>
        <li><%= link_to word.name, dreambook_word_path(letter: word.letter, word: word.name ) %></li>
        <% end %>
      </ul>
    </nav>
<% else %>
    <div class="message"><%= t('nothing_found') %></div>
<% end %>