<% content_for :meta_title, 'Поиск по соннику временно недоступен' %>

<article>
  <h1>Поиск временно недоступен</h1>

  <p>
    Поиск по соннику временно недоступен. Воспользуйтесь алфавитным указателем.
  </p>

  <%= render 'letters' %>
</article>
