<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |token| %>
          <li><%= render partial: 'admin/tokens/entity/in_list', locals: { token: token } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
