<section class="comments">
  <% if comments.any? %>
      <h1><%= t(:comments_list) %></h1>

      <% comments.recent.each do |comment| %>
          <%= render comment %>
      <% end %>
  <% end %>

  <section class="reply-container">
    <h1><%= t('comment.add') %></h1>

    <div class="container">
      <%= render partial: 'comments/form', locals: { entity: Comment.new(commentable: commentable) } %>
    </div>
  </section>
</section>
