<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>

<%= render 'shared/metrics' %>

<article>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
