<% content_for :meta_title, t('.title') %>

<article class="admin-index">
  <h1><%= t('.title') %></h1>

  <ul>
    <li><%= link_to t('admin.users.index.heading'), admin_users_path %></li>
    <li><%= link_to t('admin.tokens.index.heading'), admin_tokens_path %></li>
    <li><%= link_to t('admin.codes.index.heading'), admin_codes_path %></li>
  </ul>
</article>
