<% content_for :meta_title, t('.title', tag: @grain.name, page: current_page) %>
<% content_for :sidebar do %>
<% end %>

<article class="dreams">
  <h1><%= t('.header', tag: @grain.name) %></h1>

  <%= paginate @collection %>
  <%= render partial: 'dreams/list', locals: { dreams: @collection } %>
  <%= paginate @collection %>
</article>
