<% if dreams[:next].is_a?(Dream) || dreams[:prev].is_a?(Dream) %>
    <nav class="adjacent">
      <ul>
        <li>
          <% unless dreams[:prev].blank? %>
              <span><%= admin_dream_link dreams[:prev] %></span>
          <% end %>
        </li>
        <li>
          <% unless dreams[:next].blank? %>
              <span><%= admin_dream_link dreams[:next] %></span>
          <% end %>
        </li>
      </ul>
    </nav>
<% end %>
