<div class="toggleable" data-url="<%= toggle_api_dream_path(dream) %>">
  <% Dream.toggleable_attributes.each do |flag| %>
  <span class="<%= dream.attributes[flag.to_s] ? 'active' : 'inactive' %>" data-flag="<%= flag %>">
    <%= t("activerecord.attributes.dream.#{flag}") %>
  </span>
  <% end %>
</div>
