<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |word| %>
          <li><%= render partial: 'admin/words/entity/in_list', locals: { word: word } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>

<script>/*<![CDATA[*/
$(function () {
  $('form.patterns-setter').on('submit', function () {
    var $form   = $(this);
    var $button = $(this).find('button');

    if (!$button.hasClass('hidden')) {
      $button.addClass('hidden');
      $.ajax($form.attr('action'), {
        method: 'put',
        data: $form.serialize(),
        success: function(response) {
          if (response.hasOwnProperty('data')) {
            console.log(response['data']);
            $button.removeClass('hidden');
          }
        }
      }).fail(handle_ajax_failure);
    }

    return false;
  });
});
/*]]>*/</script>
