<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |word| %>
          <li><%= render partial: 'admin/words/entity/in_list', locals: { word: word } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
