<% if collection.any? %>
    <ul>
      <% collection.each do |entity| %>
          <li><%= link_to entity.text_for_list, entity %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>