<% if collection.any? %>
    <ul class="entities">
      <% collection.each do |entity| %>
          <li>
            <%= render partial: 'admin/flags', locals: { flags: entity.flags } if entity.respond_to? :flags %>
            <div><%= link_to entity.respond_to?(:text_for_list) ? entity.text_for_list : entity.name, entity %></div>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>