<% if current_user.is_a? User %>
    <div>
      <ul>
        <% if current_user.has_role? :administrator %>
            <li><%= link_to t('admin.index.title'), admin_path %></li>
        <% end %>
        <li><%= link_to t('deeds.index.title'), my_deeds_path %></li>
        <li><%= link_to t('my.goals.index.header'), my_goals_path %></li>
      </ul>
    </div>
<% else %>
    <div>
      <%= render 'authentications/form' %>
    </div>
<% end %>
