<section>
  <h1><%= t('.donate') %></h1>

  <p><%= t('.every_donation_helps') %></p>
  <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?account=41001190110894&quickpay=small&any-card-payment-type=on&button-text=06&button-size=s&button-color=orange&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0+sovia&default-sum=50&successURL=http%3A%2F%2Fsovia.ru%2F" width="146" height="31"></iframe>
</section>