<div>
  <div class="header"><%= t('.more_links') %></div>
  <ul>
    <li><%= link_to t('dreams.random.title'), random_dream_path %></li>
    <li><%= link_to t('statistics.index.title'), statistics_path %></li>
  </ul>
</div>
