<% tags = Tag::Dream.trends %>
<section class="tag-trends">
  <h1><%= t('.trends') %></h1>
  <% if tags.any? %>
      <nav>
        <ol>
          <% tags.each do |tag, weight| %>
              <li><%= tagged_entries_path(tag) %> (<%= weight %>)</li>
          <% end %>
        </ol>
      </nav>
  <% else %>
      <%= render 'shared/nothing_found' %>
  <% end %>
</section>
