<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |place| %>
        <li><%= render partial: 'my/places/entity/in_list', locals: { place: place } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
