<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :sidebar do %>
<% end %>
<%= render 'shared/metrics' %>

<article class="places">
  <h1><%= t('.header') %></h1>

  <%= render 'shared/nothing_found' %>
</article>
