<% content_for :meta_title, t('.title') %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>
  <ul class="actions">
    <li><%= back_icon(my_path) %></li>
    <% if Place.owned_by(current_user).count < User::PLACE_LIMIT %>
        <li><%= create_icon new_place_path %></li>
    <% end %>
  </ul>

  <%= render partial: 'list', locals: { collection: @collection } %>
</article>
