<% content_for :meta_title, t('.title') %>

<section>
  <header>
    <h1><%= t('.title') %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:view), @language %></li>
        <li><%= link_to t(:list), languages_path %></li>
      </ul>
    </nav>
  </header>

  <%= render 'form' %>
</section>
