<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
<% end %>

<article class="authentication">
  <h1><%= t('.title') %></h1>

  <%= render 'authentications/options/social' %>
  <%= render 'authentications/options/native' %>
  <%= render 'authentications/options/other' %>
</article>
