<% if current_user && current_user.editor? %>
    <nav>
      <ul>
        <li><%= link_to t('titles.tags.index'), admin_dream_tags_path %></li>
        <li><%= link_to t('.tags_queue'), admin_queues_tags_path %></li>
      </ul>
    </nav>
<% end %>