<section class="recent">
  <h1>Недавняя активность</h1>
  <% if @recent.any? %>
      <% @recent.each do |entity| %>
          <%= render partial: 'glimpse', locals: { entity: entity } %>
      <% end %>
  <% else %>
      <% render 'shared/nothing_found' %>
  <% end %>
</section>
