<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1>Этой страницы больше нет</h1>
</header>

<article>
  <p>Эта страница больше не существует. Она была когда-то раньше, но оказалась неактуальной.</p>
</article>

<section>
  <%= render 'layouts/more' %>
</section>
