<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<article>
  <p><%= t('.page_does_not_exist_anymore') %></p>
</article>

<section>
  <%= render 'layouts/more' %>
</section>

<%= render 'common/metrics' %>
