<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>

<article class="homepage">
  <div class="content-wrapper">
    <%=
      render(
          partial: 'index/index/featured_posts',
          locals: {
              collection: FeaturedPost.ordered_by_priority.first(5)
          }
      )
    %>
    <%= render partial: 'index/index/about', locals: { editable_page: @editable_page } %>
    <%= render 'index/index/dreams' %>
    <%#= render 'index/index/dreambook' %>
    <%= render 'index/index/posts' %>
  </div>
</article>
