<% content_for :meta_title, t('.title') %>

<article>
  <h1>Сайт о снах</h1>
  <p>Совия — это сайт о снах, где можно вести свой дневник снов, общаться на соответствующие темы,
    а также искать интерпретацию того, что приснилось, в соннике.</p>
  <p>После того, как вы опишите сон, он будет автоматически интерпретирован
  в течение нескольких секунд.</p>

  <%= render partial: 'dreambook/form', locals: { query: '' } %>

  <section id="recent-activity">
    <div class="list-of-posts">
      <h2>Недавние публикации</h2>
      <%= render partial: 'posts/recent', locals: { posts: Post.visible.recent.first(5) } %>
    </div>
    <div class="list-of-posts">
      <h2>Недавние сны</h2>
      <% privacy = Dream.privacy_for_user(current_user) %>
      <%= render partial: 'dreams/recent', locals: { dreams: Dream.with_privacy(privacy).recent.first(3) } %>
    </div>
  </section>
</article>