<% if entity.errors.any? %>
    <section class="errors">
      <h1><%= t(:error, count: entity.errors.count) %>:</h1>

      <ul>
        <% entity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </section>
<% end %>
