<% if collection.any? %>
    <ul>
      <% collection.each do |token| %>
          <li><%= user_link token.user %><%= link_to "#{token.created_at}/#{token.last_used}", token %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>