<section>
  <h1><%= t('.header') %></h1>

  <p>Если вы ещё не являетесь пользователем сайта,
    самое время <%= link_to 'присоединиться', new_my_profile_path %>.</p>
  <p>Если не получается войти с использованием логина и пароля,
    попробуйте <%= link_to 'сбросить пароль', my_recovery_path %>.</p>
</section>
