<% content_for :meta_title, t('.title', body: @entity.body) %>
<% content_for :options do %>
    <ul>
      <li><%= link_to t(:list), codes_path %></li>
      <li><%= link_to t(:edit), edit_code_path(@entity) %></li>
      <li><%= link_to t(:create), new_code_path %></li>
    </ul>
<% end %>

<%= render @entity %>
