.dream {
  header {
    background-position: center right var(--spacer-xxs);
    background-repeat: no-repeat;
    border-bottom: $border-secondary;
    padding: 0 var(--spacer-m) 0 0;
  }

  h1 {
    padding: var(--spacer-xs) 0 var(--spacer-xs) var(--spacer-xs);
  }

  nav {
    margin: var(--spacer-s) 0;
    padding: var(--spacer-xs);
  }

  .text {
    padding: 0 var(--spacer-xs);
  }

  footer {
    align-items: center;
    border-top: $border-secondary;
    color: $text-color-secondary;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-size-decreased);
    padding: var(--spacer-xs);
  }

  .author {
    align-items: center;
    display: flex;
    margin-right: auto;
  }
}
