@import "shared";

.dream-interpretation_request {
  background: var(--bg-main);
  border-radius: var(--spacer-xs);
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .25), 0 .4rem .8rem rgba(0, 0, 0, .125);
  margin: var(--spacer-s) auto;
  max-width: var(--content-width);
  padding: var(--spacer-s);

  h2 {
    text-align: center;
  }

  :disabled {
    filter: grayscale(.75);
    opacity: .5;
  }
}

.interpretation-dream {
  border-radius: var(--spacer-s);
  box-shadow: $block-shadow;
  margin: var(--spacer-m) 0;
  max-width: 64rem;

  summary {
    cursor: pointer;
    font-family: $font-family-heading;
    font-size: var(--font-size-increased);
    font-weight: 400;
    padding: var(--spacer-xs);
  }

  &[open] {
    summary {
      border-bottom: $border-secondary;
    }
  }

  .dream-text {
    color: $text-color-secondary;
    padding: var(--spacer-s);
    text-align: justify;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.interpretation-messages {
  .container {
    max-width: 64rem;
  }

  textarea {
    width: 100%;
  }

  :disabled {
    opacity: 0;
  }
}

.interpretation_message-list {
  border-bottom: $border-secondary;
  border-top: $border-secondary;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: var(--spacer-m) 0;
  max-width: 64rem;
  padding: var(--spacer-s) 0;

  li {
    border-radius: var(--spacer-xs);
    box-shadow: $block-shadow;
    margin: var(--spacer-xs);
    padding: var(--spacer-s);
    max-width: 90%;
  }

  .in {
    background: radial-gradient(circle at bottom left, hsla(240, 50%, 50%, .25), hsla(240, 75%, 75%, .125));
    margin-right: auto;
  }

  .out {
    background: radial-gradient(circle at bottom right, hsla(120, 50%, 50%, .25), hsla(120, 75%, 75%, .125));
    margin-left: auto;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .time {
    color: $text-color-secondary;
    font-size: var(--font-size-decreased);
    margin-top: var(--spacer-s);
    text-align: right;
  }
}

.dreams-interpretation-prices {
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: var(--spacer-m) auto;
    padding: 0;
    text-align: center;
  }

  li {
    border-radius: var(--spacer-s);
    box-shadow: $block-shadow;
    margin: var(--spacer-s) auto;
    max-width: 24rem;
    padding: var(--spacer-s);
    width: 20%;
  }

  .quantity {
    font-family: $font-family-heading;
    font-size: var(--font-size-xl);
  }

  .price {
    font-size: var(--font-size-large);
    font-weight: 500;
    margin: var(--spacer-s) auto;
  }
}

@media (max-width: 1100px) {
  .dreams-interpretation-prices {
    li {
      max-width: none;
      width: 40%;
    }
  }
}

@media (max-width: 400px) {
  .dreams-interpretation-prices {
    li {
      max-width: none;
      width: 80%;
    }
  }
}
