.dream-preview {
  background: $bg-main;
  border-radius: .4rem;
  box-shadow: $block-shadow;
  display: flex;
  flex: none;
  flex-direction: column;
  margin: 0 var(--spacer-xs) var(--spacer-s);
  transition: .125s;
  width: calc(100% / 3 - var(--spacer-s));

  header {
    background-position: center right var(--spacer-xxs);
    background-repeat: no-repeat;
    border-bottom: $border-secondary;
    font: 400 var(--font-size-increased) $font-family-heading;
    padding: 0 var(--spacer-m) 0 0;

    a {
      color: inherit;
      display: block;
      overflow: hidden;
      padding: var(--spacer-xs) 0 var(--spacer-xs) var(--spacer-xs);
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .body {
    color: #333;
    padding: var(--spacer-xs);
  }

  p {
    margin: var(--spacer-xs) 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .more {
    margin-top: var(--spacer-xs);
    font-weight: 400;
    text-align: center;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  footer {
    align-items: center;
    border-top: $border-secondary;
    display: flex;
    font-size: var(--font-size-decreased);
    margin-top: auto;
    padding: var(--spacer-xs);
  }

  time {
    color: $text-color-secondary;
    margin-left: auto;
  }

  .author {
    align-items: center;
    display: flex;
    font-weight: 400;
  }

  .image {
    border-radius: 50%;
    height: 2.4rem;
    margin-right: var(--spacer-xxs);
    overflow: hidden;
    width: 2.4rem;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@media (pointer: fine) {
  .dream-preview:hover {
    box-shadow: $block-shadow-wide;
  }
}

@media (max-width: 960px) {
  .dream-preview {
    width: calc(50% - var(--spacer-s));
  }
}

@media (max-width: 640px) {
  .dream-preview {
    width: calc(100% - var(--spacer-s));
  }
}
