<article>
  <header>
    <h2>Что такое журнал успеха?</h2>
  </header>

  <p>
    Журнал успеха &mdash; это журнал ваших личных достижений, где стоит фиксировать внимание только
    на тех ваших достижениях, которые вы считаете хорошими делами, и тем, что можно отнести к успеху.
  </p>
  <p>
    Очень часто у человека в голове остаётся &laquo;осадочек&raquo; от неприятностей, которые с ним
    происходят, он зацикливается на негативе и продолжает совершать неправильные поступки. Если
    фиксировать внимание только на позитивных вещах, то со временем вы увидете, как много хорошего
    на самом деле вы делаете в этой жизни и как многого уже добились. Это даст силы двигаться дальше.
  </p>
  <p>
    Стоит заметить, что понятие &laquo;хороший&raquo; обычно для каждого означает разное, поэтому
    фиксируйте в своём журнале то, что хорошим считаете именно вы.
  </p>
  <p>
    Журнал доступен только зарегистрированным пользователям.
  </p>
  <% unless current_user.nil? %>
  <p><%= link_to 'Ваш журнал', my_deeds_path %>.</p>
  <% end %>
  <footer>
    <%= render 'layouts/social' %>
  </footer>
</article>