<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <%= render 'sidebar/more_links' %>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <p>Журнал успеха — это журнал ваших личных достижений, где стоит фиксировать внимание только на тех ваших
    достижениях, которые вы считаете хорошими делами, и тем, что можно отнести к успеху.</p>

  <p>Очень часто у человека в голове остаётся «осадочек» от неприятностей, которые с ним происходят,
    он зацикливается на негативе и продолжает совершать неправильные поступки. Если фиксировать внимание
    только на позитивных вещах, то со временем вы увидете, как много хорошего на самом деле вы делаете
    в этой жизни и как многого уже добились. Это даст силы двигаться дальше.</p>

  <p>Стоит заметить, что понятие «хороший» обычно для каждого означает разное, поэтому фиксируйте в своём
    журнале то, что хорошим считаете именно вы.</p>

  <p>Журнал доступен только зарегистрированным пользователям.</p>

  <% if current_user.is_a? User %>
      <p><%= link_to 'Ваш журнал успеха', my_deeds_path %>.</p>
  <% end %>
</article>