<% content_for :meta_title, t('.title') %>

<article class="authentication">
  <h1><%= t('.title') %></h1>

  <%= render 'authentication/options/social' %>
  <%= render 'authentication/options/native' %>
  <%= render 'authentication/options/other' %>
</article>
