<% content_for :meta_title, t('.title') %>
<% content_for :hide_auth_form, '1' %>

<article class="authentication">
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>

  <p><%= link_to t('my.recoveries.show.title'), my_recovery_path %></p>
</article>
