<div class="data">
  <div><%= entity.name %></div>
  <div class="info">
    <%= admin_user_link(entity.user) %>
  </div>
  <div class="secondary info">
    <%= t(:dream_count, count: entity.dreams_count) %>
  </div>
</div>
