<article class="browser">
  <h1><%= browser.name %></h1>
  <% if browser.bot? %>
      <p><%= t('activerecord.attributes.browser.bot') %></p>
  <% end %>
  <% if browser.mobile? %>
      <p><%= t('activerecord.attributes.browser.mobile') %></p>
  <% end %>

  <section>
    <h2><%= t(:agent, count: browser.agents_count) %></h2>
  </section>
</article>
