@import "shared";

.js-pattern-queue-container {
  textarea {
    width: 100%;
  }
}

.link-state-container {
  align-items: center;
  display: flex;

  input {
    flex: 1;
    width: auto;
  }

  .state {
    background-color: rgba(220, 220, 220, .5);
    border-radius: 50%;
    display: inline-block;
    flex: none;
    height: var(--spacer-s);
    margin: 0 var(--spacer-xs);
    transition: .125s;
    width: var(--spacer-s);

    &.processing {
      animation: processing-state 2s infinite alternate;
    }

    &.failed {
      background-color: rgb(220, 16, 0);
    }

    &.processed {
      background-color: rgb(16, 220, 0);
    }
  }
}

@keyframes processing-state {
  from {
    background-color: rgba(200, 180, 0, .25);
  }

  to {
    background-color: rgba(255, 220, 0, 1);
  }
}

.filter-form {
  font-size: var(--font-size-decreased);

  fieldset {
    border: $border-secondary;
    margin: var(--spacer-xxs);
    padding: var(--spacer-s);
  }

  legend {
    font-size: var(--font-size-normal);
    line-height: 1.1;
  }

  .field {
    border: $border-secondary;
    margin: var(--spacer-xxs);
    padding: var(--spacer-xs);
    transform: translate(0, calc(var(--font-size-normal) / 2));

    label {
      display: block;
      margin: 0 0 var(--spacer-xs);
    }
  }

  .fields {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  .buttons {
    padding: var(--spacer-s) 0 0;
  }
}

@import "components/dreams/interpretations";
