<% if collection.any? %>
    <ul class="entities">
      <% collection.each do |entity| %>
      <li>
        <%= render partial: 'admin/flags', locals: { flags: entity.flags } if current_user_has_role? :administrator %>
        <div><%= link_to entity.title, entity %></div>
      </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>