<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
<% end %>
<%= render 'shared/metrics' %>

<article class="edit-side-note">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
