<% content_for :meta_title, @entity.title %>
<% content_for :sidebar do %>
    <% if @entity.editable_by? current_user %>
        <div class="options">
          <ul>
            <li><%= link_to t(:edit), edit_side_note_path(@entity) %></li>
          </ul>
        </div>
    <% end %>
<% end %>
<%= render 'shared/metrics' %>

<%= render @entity %>
