<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |post| %>
          <% if post.deleted? %>
              <li class="deleted"><%= t(:deleted_entity) %>, id: <%= post.id %></li>
          <% else %>
              <li><%= render partial: 'admin/posts/entity/in_list', locals: { post: post } %></li>
          <% end %>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>