<div class="data">
  <div><%= admin_pattern_link(entity) %></div>
  <div class="info">
    <%= entity.summary %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(edit_pattern_path(id: entity.id)) %></li>
    <li><%= world_icon(dreambook_word_path(word: entity.name)) %></li>
  </ul>
</div>
