<% if patterns.any? %>
    <ul class="entities">
      <% patterns.each do |pattern| %>
          <li>
            <%= render partial: 'admin/flags', locals: { flags: pattern.flags } %>
            <div><%= link_to pattern.name, pattern %> (<%= pattern.dream_count %>)</div>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
