<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <div>
      <nav class="options">
        <ul>
          <li><%= link_to t(:list), patterns_path %></li>
        </ul>
      </nav>
    </div>
<% end %>

<article class="pattern">
  <h1><%= t('.title') %></h1>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
