<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1>Недостаточно прав (401)</h1>
  <h2>Не хватает полномочий для просмотра страницы</h2>
</header>

<article>
  <p>У вашего пользователя не хватает прав, чтобы выполнить действие.</p>
</article>
