<% content_for :title, t('errors.not_found.title') %>
<% content_for :description, t('errors.not_found.description') %>

<header>
  <h1>Страница не найдена (404)</h1>
</header>

<article>
  <p>Страница, которую вы запрашиваете, не существует или была удалена.</p>
  <p>Проверьте адрес в строке адреса в вашем браузере или попробуйте попасть туда, куда вы хотели,
  другими путями.</p>
</article>

<%= render 'common/metrics' %>
