<% content_for :meta_title, t('errors.not_found.title') %>
<% content_for :meta_description, t('errors.not_found.description') %>

<%= render 'shared/metrics' %>

<article>
  <header>
    <h1>Страница не найдена (404)</h1>
  </header>

  <p>Страница, которую вы запрашиваете, не существует или была удалена.</p>

  <p>Проверьте адрес в строке адреса в вашем браузере или попробуйте попасть туда, куда вы хотели,
    другими путями.</p>
</article>

