<% content_for :meta_title, t('errors.unprocessible_entry.title') %>
<% content_for :meta_description, t('errors.unprocessible_entry.description') %>
<%= render 'shared/metrics' %>

<article>
<header>
  <h1>Запись невозможно обработать (422)</h1>
  <h2>Что-то не обработалось</h2>
</header>

  <p>Попробуйте обновить страницу через несколько минут.</p>
  <p>Если ошибка будет повторяться, вы можете сообщить о ней по адресу <a href="mailto:support@sovia.ru">support@sovia.ru</a>.</p>
</article>

