<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1>Внутреннаяя ошибка сервера (500)</h1>
  <h2>Что-то пошло не так</h2>
</header>

<article>
  <p>Попробуйте обновить страницу через несколько минут.</p>
  <p>Если ошибка будет повторяться, вы можете сообщить о ней по адресу <a href="mailto:support@sovia.ru">support@sovia.ru</a>.</p>
  <p>Мы работаем над решением проблемы.</p>
</article>
