<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :sidebar do %>
    <div class="options">
      <ul>
        <li><%= link_to t(:list), fillers_path %></li>
        <li><%= link_to t(:edit), edit_filler_path(@entity) %></li>
        <li><%= link_to t(:create), new_filler_path %></li>
      </ul>
    </div>
<% end %>

<%= render @entity %>
