<div class="data">
  <div>
    <%= entity.pattern.nil? ? entity.name : admin_pattern_link(entity.pattern) %>
  </div>
  <div class="info">
    <% if entity.processed? %>
      <%= entity.pattern&.summary %>
    <% else %>
      <div class="link-state-container">
        <%=
          text_field_tag(
              :summary,
              '',
              id: nil,
              class: 'js-pending-pattern-summary',
              data: {
                  url: summary_admin_pending_pattern_path(id: entity.id)
              },
              autocomplete: 'off',
              placeholder: t('activerecord.attributes.pattern.summary')
          )
        %>
        <span class="state"></span>
      </div>
    <% end %>
  </div>

  <% unless entity.pattern.nil? %>
    <ul class="actions">
      <li><%= edit_icon(edit_pattern_path(id: entity.pattern_id)) %></li>
    </ul>
  <% end %>
</div>
