.authentication {
  .social {
    ul {
      list-style: none;
      margin: var(--spacer-s) 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: var(--spacer-xs);
      padding: 0;
    }

    a {
      display: block;
      height: 3.2rem;
      overflow: hidden;
      width: 3.2rem;
    }

    img {
      height: 100%;
      object-fit: contain;
      width: 100%;
    }
  }
}

.my-profile-new {
  dt {
    font-weight: 400;
  }

  dd {
    margin: 0;
  }

  input:not([type=checkbox]) {
    width: 100%;
  }
}
