<% if collection.any? %>
  <ul class="interpretation_message-list">
    <% collection.each do |message| %>
      <% class_name = message.from_user? ? 'out' : 'in' %>
      <li class="<%= class_name %>">
        <div class="text">
          <%= simple_format message.body %>
        </div>
        <div class="time"><%= time_tag(message.created_at) %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="message-box-warning">Сообщений пока нет</div>
<% end %>
