<% content_for :meta_title, t('.title') %>

<article class="my-index">
  <h1><%= t('.title') %></h1>

  <ul>
    <li><%= link_to t('my.profiles.show.title'), my_profile_path %></li>

  </ul>
</article>