<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <nav>
      <ul>
        <li>
          <%= link_to(t('my.sleep_places.index.nav_text'), my_sleep_places_path) %>
        </li>
        <li>
          <%= link_to(t('my.dreams.index.nav_text'), my_dreams_path) %>
        </li>
      </ul>
    </nav>
  </div>
</article>
