<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <nav>
    <ul>
      <li>
        <%= link_to(t('my.sleep_places.index.nav_text'), my_sleep_places_path) %>
      </li>
      <li>
        <%= link_to(t('my.dreams.index.nav_text'), my_dreams_path) %>
      </li>
    </ul>
  </nav>
</article>
