<% content_for :meta_title, 'Оплата прошла успешно' %>
<% content_for :main_heading, 'Оплата прошла успешно' %>
<% content_for :breadcrumbs do %>
  <span>Успешная оплата</span>
<% end %>

<article class="editable-page">
  <div class="text">
    <h1>Оплата прошла успешно</h1>

    <p>
      Спасибо, оплата прошла успешно, мы приступили к выполнению вашего заказа.
    </p>
  </div>
</article>
