<div class="featured-post">
  <figure>
    <div class="image"><%= post_image_hd(entity) %></div>
    <figcaption>
      <div class="title"><%= post_link(entity) %></div>
      <div class="lead"><%= entity.lead %></div>
    </figcaption>
  </figure>
</div>
