.dreambook-letters {
  margin: var(--spacer-s);
  padding: var(--spacer-xs);
  display: flex;
  justify-content: space-around;
  background: #fff;
  box-shadow: $block-shadow;
  flex-wrap: wrap;

  li {
    list-style: none;
    font-size: var(--font-size-increased);
    margin: 0;
    padding: var(--spacer-xs);
  }
}

.dreambook-words {
  margin: var(--spacer-s);
  padding: 0;
  box-shadow: $block-shadow;

  li {
    list-style: none;
    background: $row_background_odd;
    margin: 0;
    padding: var(--spacer-xs);

    &:nth-of-type(even) {
      background: $row_background_even;
    }
  }
}

.dreambook-form {
  margin: var(--spacer-s);

  > div {
    align-items: center;
    display: flex;
    margin: 0 auto var(--spacer-m);
    max-width: 48rem;
  }

  input[type=search] {
    flex: 1;
    margin: 0 var(--spacer-xs);
    min-width: 10ch;
  }

  button {
    background: image_url('icons/search.svg') no-repeat center / 1.8rem auto;
    border: none;
    border-radius: 50%;
    height: 2.4rem;
    transition: .25s;
    width: 2.4rem;

    &:focus,
    &:hover {
      box-shadow: 0 0 .4rem rgba(0, 0, 0, .5);
      outline: none;
    }
  }
}
