$background-post-footer: rgb(248, 248, 248);
$background-post-preview-image: linear-gradient(to top, #f0f0f0, #fff);
$background-post-tag: rgb(248, 248, 248);

.view_count {
  background: image_url('biovision/post/icons/view.svg') no-repeat center left / 1.6rem auto;
  margin: 0 .4rem;
  padding-left: 1.8rem;
}

.time_required {
  background: image_url('biovision/post/icons/time.svg') no-repeat center left / 1.6rem auto;
  display: inline-block;
  padding-left: 1.8rem;
}

.comment_count {
  background: image_url('biovision/post/icons/comment.svg') no-repeat center left / 1.6rem auto;
  display: inline-block;
  padding-left: 1.8rem;
}

@import "components/posts/list";
@import "components/posts/featured";
@import "components/posts/preview";
@import "components/posts/post";
@import "components/posts/tags";
