<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, 'Чем можно пользоваться на сайте о снах «Совия»: дневник снов, сонник, статьи, форум, журнал успеха, личный блог, статистика и форматирование текстов.' %>

<article>
  <h1>О проекте</h1>
  <h2>Возможности</h2>
  <p>Сайт существует с 10 октября 2006 года. За это время появлялись новые функции,
    потом они улучшались или были упразднены. На данный момент есть следующее.</p>

  <section>
    <h1>Дневник снов</h1>
    <p>Это основной функционал и основная идея. Можно описывать сны, указывая символы
      снов, чтобы можно было ориентироваться в будущем.</p>
    <p>Есть несколько уровней видимости записи: для всех, только для зарегистрированных
      пользователей и только для себя.</p>
    <p>Кто-то хочет делиться увиденным со всеми, кто-то желает ограничить
      доступ, оставив только тех, кому это интересно, а некоторые сны лучше
      никому не рассказывать по тем или иным причинам. Выбор есть всегда и он
      остаётся за пользователем.</p>
  </section>

  <section>
    <h1>Сонник</h1>
    <p>Сонник — это довольно интересная тема для обсуждения. Большинство
      «сонников», которыми наполнена сеть да и вообще мир, — бессмысленные
      тексты, направленные на наивного человека, склонного верить во всё подряд.</p>
    <p>Каждый (почти) символ сна, — это то, что мы уже переживали, когда-то
      видели, слышали или чувствовали. Человек мыслит образами, и подсознание
      оперирует тоже только образами, но проще всего показать что-то именно
      визуальными образами.</p>
    <p>Так каким же образом трактовать то, что мы видим? В основном <em>по своим
      ассоциациям</em>, но очень многие образы схожи для разных людей.</p>
    <p>В соннике на этом сайте пока не так много описано, зато в нём отражён
      как раз общий смысл образов, наиболее вероятный для выражения подсознания.</p>
    <p>Комментировать записи сонника могут только зарегистрированные пользователи.</p>
    <p>Со временем будет возможность описывать новые символы тем, у кого
      будет хорошая репутация на сайте (сам механизм ещё не разработан).</p>
  </section>

  <section>
    <h1>Статьи</h1>
    <p>Раньше был отдельно блог проекта и статьи на тему снов и практики.
      Потом было решено слить эти два раздела в один, так как в блоге всё равно
      не так много записей, а те, которые там будут появляться, уже можно будет
      смело называть статьями.</p>
    <p>В статьях можно почерпнуть полезную информацию по некоторым темам. Если
      вам есть что сказать, можете отправить свою статью по адресу support@sovia.ru,
      и она будет рассмотрена и возможно размещена (со ссылкой на автора, разумеется).</p>
  </section>

  <section>
    <h1>Журнал успеха</h1>
    <p>Можно и нужно фиксировать свои успехи, фокусируясь на положительных моментах. Для этого
      у каждого пользователя есть свой личный <%= link_to 'журнал успеха', deeds_path %>, доступный в профиле.</p>
  </section>

  <section>
    <h1>Статистика</h1>
    <p>Из статистики пока есть общее количество символов снов за весь период
      и для всех снов. Для каждого пользователя можно определить, что ему снилось
      в какой период и с какой частотой.</p>
    <p>Этот функционал будет дальше развиваться по мере определения,
      какие данные кому интересны.</p>
  </section>

  <section>
    <h1>Ссылки из текстов</h1>
    <p>Так как в комментариях и описаниях допустимо использовать только текст,
      а иногда нужно сослаться на сон, публикацию и т.д., можно использовать
      специальные ссылки прямо из текста. Всё достаточно просто.</p>
    <ul class="features">
      <li><span>[dream &lt;id&gt;]</span> — ссылка на сон, где &lt;id&gt; — это идентификатор сна (число
        в адресной строке)</li>
      <li><span>[post &lt;id&gt;]</span> — ссылка на публикацию.</li>
      <li><span>[[&lt;Символ&gt;]]</span> — ссылка на сонник, на описание символа &lt;Символ&gt;.</li>
      <li><span>[dream &lt;id&gt;](текст)</span> — ссылка на сон с текстом &laquo;текст&raquo;.</li>
      <li><span>[post &lt;id&gt;](текст)</span> — ссылка на публикацию с текстом &laquo;текст&raquo;.</li>
      <li><span>[[&lt;Символ&gt;]](текст)</span> — ссылка на описание символа &lt;Символ&gt;
        с текстом &laquo;текст&raquo;.</li>
      <li><span>{Вася Пупкин}</span> — всем будет видно только <span class="name">ВП</span>. Автору сна
        при наведении на текст будет показан начальный текст: <span class="name" title="Вася Пупкин">ВП</span>
        (наведите мышку).</li>
      <li><span>{Вася Пупкин}(Петя)</span> — всем будет видно только <span class="name">Петя</span>. Автору сна
        при наведении на текст будет показан начальный текст: <span class="name" title="Вася Пупкин">Петя</span>
        (наведите мышку).</li>
    </ul>
    <p>То есть конструкция в квадратных скобках преобразуется в нормальную ссылку
      при отображении текста.</p>
  </section>
</article>
