<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <section>
    <h2>Что такое Совия?</h2>
    <p>Совия — это сайт о снах, где можно вести свой дневник снов и искать
    значение приснившегося в постоянно пополняющемся соннике.</p>
    <p>Это уже пятая версия проекта.</p>
  </section>

  <section>
    <h2>Как помочь?</h2>
    <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=41001190110894&amp;quickpay=donate&amp;payment-type-choice=on&amp;default-sum=100&amp;targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0+%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0&amp;project-name=%D0%A1%D0%BE%D0%B2%D0%B8%D1%8F&amp;project-site=https%3A%2F%2Fsovia.ru&amp;button-text=05&amp;successURL=https%3A%2F%2Fsovia.ru%2F" width="507" height="105"></iframe>
    <p>Если же вы хотите как-то поддержать проект, лучшей поддержкой на данном этапе
      будет рассказать о нём своим знакомым или разместить у себя в блоге или на сайте
      ссылку на нас.</p>
    <p>Сейчас развитием занимается только один человек, вкладываясь и материально (хостинг стоит денег),
      и интеллектуально (нужно всё развивать, а это достаточно много программирования).</p>
    <p>С материальной стороны можно использовать Яндекс-кошелёк 41001190110894, всё пойдёт
      на развитие и продвижение ресурса.</p>
    <p>Всем снятся сны, и их можно описывать здесь.
      Можно оставлять ссылки на этот сайт и рассказывать о нём друзьям. Чем больше
      будет пользователей, тем быстрее пойдёт развитие.</p>
  </section>

  <footer>
    <p>
      Версия проекта — 5.0.0.0
      <% if File.exist?('/var/www/sovia5/last_version') %>
          (build <%= File.read('/var/www/sovia5/last_version').to_i %>)
      <% end %>
    </p>
  </footer>
</article>
