<% content_for :title, t('.title') %>
<% content_for :description, 'Совия: соглашение о конфиденциальности (общие положения, какая информация собирается, как используется, что хранится на стороне пользователя и как связаться с администрацией ресурса).' %>

<header>
  <h1>Соглашение о конфиденциальности</h1>
</header>

<article>
  <h2>Общие положения</h2>
  <p>Мы стараемся обеспечить максимальную сохранность ваших персональных данных и запрашиваем как можно
  меньше информации. Существенная часть функций доступна без авторизации. Для того чтобы стать
  зарегистрированным пользователем, достаточно задать только уникальный логин и пароль.</p>
  <h2>Какая информация собирается</h2>
  <p>Зарегистрированные пользователи могут указывать адрес своей электронной почты. При согласии пользователя
  на этот адрес могут отправляться сообщения с сервера. Например, комментарии на публикации пользователя,
  а также ответы на его комментарии.</p>
  <h2>Использование файлов Cookie</h2>
  <p>Сайт сохраняет на стороне пользователя cookie-файл с данными о сессии. Это необходимо для нормальной
  работы и авторизации пользователя.</p>
  <p>Также сохраняются сторонние cookie-файлы Яндекс.метрики и Google Analytics. Эти куки сохраняются
  для сбора анонимной статистики по использованию сайта и для улучшения качества предоставляемых услуг.</p>
  <h2>Как связаться с администрацией ресурса</h2>
  <p>Для связи с администрацией вы можете отправить по электронной почте письмо на адрес support@sovia.ru</p>
</article>

<section>
  <%= render 'layouts/more' %>
</section>
