<% content_for :title, t('.title') %>
<% content_for :description, 'Совия: пользовательское соглашение. О том, что можно и что нельзя делать на сайте.' %>

<header>
  <h1>Пользовательское соглашение</h1>
</header>

<article>
  <p><%= link_to 'Соглашение о конфиденциальности', privacy_path %></p>
  <ol>
    <li>Что запрещено:
      <ul>
        <li>несанкционированная реклама где бы то ни было;</li>
        <li>оскорбления пользователей сайта;</li>
        <li>флуд;</li>
        <li>выдавать себя за администрацию ресурса (администратором на данный момент является только пользователь dr_von_ozgg);</li>
        <li>любые действия, запрещённые законодательством РФ.</li>
      </ul>
    </li>
    <li>Публикуя записи и комментарии, пользователь соглашается на воспроизводство, обработку и хранение этих текстов</li>
    <li>Пользователь обязуется не нарушать прав других</li>
    <li>Загружая картинки, пользователь даёт право на воспроизводство, хранение и обработку изображений</li>
    <li>Пользовательское соглашение может быть изменено администрацией ресурса
      без предварительного уведомления. При изменении Соглашения пользователь обязуется
      продолжать его соблюдать или перестать пользоваться сайтом.</li>
  </ol>
</article>

<section>
  <%= render 'layouts/more' %>
</section>
