<% content_for :meta_title, t('.title') %>
<% content_for :meta_description, t('.description') %>

<%= render 'shared/metrics' %>

<article>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <p>Для того чтобы был прогресс, нужно видеть, куда вы двигаетесь. А для этого нужно ставить себе конкретные цели.</p>

  <p>Цель нужно формулировать так, чтобы было чёткое понимание, при каких условиях цель достигнута. Например:
    сдать экзамен по начальному уровню такого-то языка, пробежать полумарафон, правильно питаться в течение месяца
    и так далее.</p>

  <p>Помимо самого названия цели следует также указать для себя, зачем вам хочется достигнуть этой цели.</p>
  <% if current_user %>
      <p><%= link_to 'Ваши цели', my_goals_path %>.</p>
  <% end %>
</article>

