<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
  </header>

  <%= render 'form' %>
</article>

<%= render 'common/metrics' %>
