/*
 *= require_self
 *= require_tree .
 */

html {
  background: #122129 image_url('bg-icons.png') 0 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Serif;
}

body {
  background: image_url('moon.png') 0 0 no-repeat;
  margin: 0;
  padding: 1em 1em 1em 2em;

  & > header {
    min-height: 120px;
    position: relative;

    div#logo {
      padding: 1em;
    }

    & a:link, & a:visited {
      color: #bdd4da;
    }

    & a:hover {
      color: #ff9600;
    }

    nav {
      ul {
        margin: 0;
        padding: 1em 3em 0;

        li {
          list-style: none;
          margin: 0;
          padding: 0.3em 2em;
          font-size: 1.3em;
          display: inline-block;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    aside {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      color: #F7F7F7;

      form {
        float: right;
      }

      label {
        display: inline-block;
        width: 70px;
      }

      button {
        width: 70px;
      }
    }
  }

  > footer:last-child {
    color: #dadada;
    font-size: 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-variant: small-caps;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
}

img {
  border: none;
}

input, textarea, button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Serif;
  font-size: 0.9em;
}

form {
  div {
    margin: 0 0 0.5em 0;

    &:last-child {
      margin: 0;
    }
  }

  div.notice {
    color: #666666;
    font-size: 0.8em;
  }
}

section#main {
  background: #ffffff;
  border-radius: 1em;
  padding: 1em;
}

div.message {
  border: solid #478043 2px;
  border-radius: 0.5em;
  background: #e0ffd8;
  color: #002000;
  font-weight: bold;
  text-align: center;
  margin: 1em 2em;
  padding: 0.5em;
}