article.authentication {
  section {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 0.25rem;
      padding: 0;

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  form {
    label {
      width: 4rem;
    }
  }
}

div.authentication {
  float: right;
  width: 20rem;
  height: 2rem;
  background: rgba(255, 255, 255, 0.2);

  a {
    &:link, &:visited {
      color: #67798a;
    }

    &:hover {
      color: #ccffff;
    }
  }

  .plate {
    line-height: 2rem;
    padding: 0 0.5rem;

    .logout {
      float: right;
      width: 2rem;
      height: 2rem;

      img {
        float: right;
        width: 1rem;
        height: 1rem;
        margin: 0.5rem 0 0.5rem;
      }
    }
  }
}

