$button-action-bg-a: #2e3c8e;
$button-action-bg-b: #515da3;
$button-action-bg-c: #3d94f6;
$button-action-bg-d: #1e62d0;
$button-action-border-color: #2e3c8e;
$button-action-text-color-a: #fff;
$button-action-text-color-b: #fff;

$button-nav-bg-a: #fff;
$button-nav-bg-b: #fafafa;
$button-nav-bg-c: #1e62d0;
$button-nav-bg-d: #3d94f6;
$button-nav-border-color: #2e3c8e;
$button-nav-text-color-a: #3d94f6;
$button-nav-text-color-b: #fff;

$button-create-bg-a: #68a54b;
$button-create-bg-b: #74ad5a;
$button-create-bg-c: #5ba337;
$button-create-bg-d: #59ab33;
$button-create-border-color: #3b6e22;
$button-create-text-color-a: #fff;
$button-create-text-color-b: #fff;

$button-destroy-bg-a: #a54b68;
$button-destroy-bg-b: #ad5a74;
$button-destroy-bg-c: #a3375b;
$button-destroy-bg-d: #ab3359;
$button-destroy-border-color: #6e223b;
$button-destroy-text-color-a: #fff;
$button-destroy-text-color-b: #fff;

@mixin styled-button {
  border: solid 0.1rem;
  border-radius: 0.6rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font: $decreased_font_size $main-font-family;
  line-height: 2.4rem;
  margin: 0;
  padding: 0 1.6rem;
  text-decoration: none;
}

@mixin action-button {
  @include styled-button;

  background: $button-action-bg-a linear-gradient(to top, $button-action-bg-a, $button-action-bg-b);
  border-color: $button-action-border-color;
  color: $button-action-text-color-a;

  &:active,
  &:hover,
  &:focus {
    background: $button-action-bg-b linear-gradient(to top, $button-action-bg-c, $button-action-bg-d);
    border-color: $button-action-bg-b;
    color: $button-action-text-color-b;
  }
}

@mixin nav-button {
  @include styled-button;

  background: $button-nav-bg-a linear-gradient(to top, $button-nav-bg-a, $button-nav-bg-b);
  border-color: $button-nav-border-color;
  color: $button-nav-text-color-a;

  &:active,
  &:hover,
  &:focus {
    background: $button-nav-bg-b linear-gradient(to top, $button-nav-bg-c, $button-nav-bg-d);
    border-color: $button-nav-text-color-b;
    color: $button-nav-text-color-b;
  }
}

@mixin create-button {
  @include styled-button;

  background: $button-create-bg-a linear-gradient(to top, $button-create-bg-a, $button-create-bg-b);
  border-color: $button-create-border-color;
  color: $button-create-text-color-a;

  &:hover,
  &:active,
  &:focus {
    background: $button-create-bg-c linear-gradient(to top, $button-create-bg-c, $button-create-bg-d);
    color: $button-create-text-color-b;
  }
}

@mixin destroy-button {
  @include styled-button;

  background: $button-destroy-bg-a linear-gradient(to top, $button-destroy-bg-a, $button-destroy-bg-b);
  border-color: $button-destroy-border-color;
  color: $button-destroy-text-color-a;

  &:hover,
  &:active,
  &:focus {
    background: $button-destroy-bg-c linear-gradient(to top, $button-destroy-bg-c, $button-destroy-bg-d);
    color: $button-destroy-text-color-b;
  }
}

.action-button {
  @include action-button;
}

.nav-button {
  @include nav-button;
}

.create-button {
  @include create-button;
}

.destroy-button {
  @include destroy-button;
}
