ul.comments {
  margin: 0 286px 0 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0.5em 0.5em 1em;
    border-bottom: solid #eeeeee 1px;

    > div:first-child {
      position: relative;

      figure {
        background: #fef9ee;
        min-height: 60px;

        img {
          margin: 5px;
          padding: 0;
          float: left;
        }
      }

      time {
        position: absolute;
        left: 60px;
        top: 30px;
        font-size: 0.8em;
      }
    }

    p {
      margin: 0.5em;
      text-indent: 1em;
    }

    ul.actions {
      margin: 0 1em;
      padding: 0;
      background: #fef9ee;

      li {
        border: none;
        margin: 0;
        padding: 0;
        display: inline-block;

        > div {
          min-height: 0;
          background: none;

          &:first-child {
            cursor: pointer;
            color: #3d6d88;

            &:before {
              content: '[ ';
            }

            &:after {
              content: ' ]';
            }
          }
        }
      }
    }
  }
}

div.reply-container {
  h3 {
    cursor: pointer;
  }
}

ul.admin-comments {
  margin: 0;
  padding: 0;
  li {
    list-style: none;

    &:nth-of-type(2n) {
      background: #eeffee;
    }

    &:nth-of-type(2n-1) {
      background: #f7fff7;
    }
  }
}