section.comments {
  margin: 1.6rem 0;
  padding: 0 0.8rem;
  border-top: solid $secondary_text_color 0.1rem;

  > h2 {
    margin: 0.8rem 0;
  }

  > div {
    background-color: $row_background_odd;
    padding: 0.4rem;

    &:nth-of-type(even) {
      background-color: $row_background_even;
    }
  }
}

div.comment {
  .title {
    padding: 0 0 0.4rem 0;
    border-bottom: dotted 0.1rem;
    margin: 0.8rem 0;

    cite {
      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }
  }

  .body {
    margin: 0.8rem;
    padding: 0.8rem;
    background: #ffffff;
  }

  .author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8rem;

    time {
      font-size: $decreased_font-size;
      font-style: italic;
    }
  }

  .footer {
    padding: 0.8rem 1rem;

    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: flex-end;

      > li {
        list-style: none;
        margin: 0 0.4rem;
        padding: 0;
        font-size: $small_font_size;
        text-align: right;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }
    }
  }
}
