div.controls {
  padding: 5px 0;
  float: right;

  > div {
    border: outset 1px;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &.visibility {
      background: #77ff77;

      &.hidden {
        background: #777777;
      }
    }
  }
}