.controls {
  float: left;
  height: 1.5rem;

  > div {
    margin: 0 0.4rem;
  }

  .visibility {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    background: image_url('checked.png') no-repeat 0 0 / 1.5rem 1.5rem;

    &.hidden {
      background: image_url('unchecked.png') no-repeat 0 0 / 1.5rem 1.5rem;
    }
  }

  .edit {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background: image_url('edit.png') no-repeat 0 0 / 1.5rem 1.5rem;
    cursor: pointer;
  }
}
