.dream {
  margin: 0 0 15px 0;
  position: relative;

  > .header, > header {
    background: #F7F7F7;
    min-height: 100px;
    padding: 5px;

    img {
      float: left;
      margin: 0 5px 5px 0;
    }

    .privacy {
      float: left;
      width: 16px;
      margin: 0 5px 0 0;
      background-repeat: no-repeat;

      &.privacy-1 {
        background-image: image_url('locks.gif');
        background-position: center left;
      }

      &.privacy-255 {
        background-image: image_url('locks.gif');
        background-position: center right;
      }
    }

    h1, h3 {
      margin-left: 105px;


      &:first-letter {
        text-transform: capitalize;
      }

      &.lucid:after {
        content: '*';
      }
    }

    .author {
      margin-left: 126px;

      time, .lucidity {
        font-size: 0.8em;
      }
    }

    nav.tags {
      margin: 5px 0 0 105px;
      border-top: solid #777777 1px;

      h4 {
        text-transform: capitalize;
      }

      ul {
        li {
          list-style: none;
          display: inline-block;
          border: outset 1px;
          padding: 0 5px;
          background: #fafafa;
          font-size: 0.9em;

          &:hover {
            background: #ffffff;
          }
        }
      }
    }
  }

  .body {
    padding: 15px;

    .name {
      border-bottom: dotted 1px;
    }
  }

  .footer, .info {
    font-size: 0.9em;
    border-top: dotted #a0a0a0 1px;
    padding: 0 5px;

    .comment-count {
      text-align: right;
    }
  }

  > aside {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    > input[type=checkbox] {
      display: none;

      + div {
        label {
          position: absolute;
          right: 5px;
          top: 5px;
          padding: 0 15px;
          background: #f0f0ff;
          font-weight: bold;
          font-size: 1.4em;
          line-height: 45px;
          cursor: pointer;
          border-radius: 15px;
        }

        ul {
          margin: 60px 5px 0 0;
          background: #ffffff;
          display: none;
          border-radius: 15px;
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

          li {
            list-style: none;
            padding: 0 15px;
            border-radius: 15px;

            &:hover {
              background: #ddddff;
            }

            > a {
              display: inline-block;
              width: 100%;

              &:first-letter {
                text-transform: capitalize;
              }
            }
          }
        }
      }

      &:checked {
        + div {
          label {
            text-shadow: 0 0 15px #4040ff;
            box-shadow: 0 0 3px 3px rgba(127, 127, 255, 0.5);
          }

          ul {
            display: block;
          }
        }
      }
    }
  }
}

p.more {
  &:before {
    content: '( ';
  }

  &:after {
    content: ' )';
  }
}

input[type=range] + span {
  &:before {
    content: '('
  }

  &:after {
    content: ')'
  }
}

section.new-dream > form {
  > div {
    margin: 0 0 0.5em 0;

    &:last-child {
      margin: 0;
    }

    > div {
      width: 500px;
      position: relative;

      input, textarea {
        width: 480px;
        max-width: 480px;
      }

      input + div, textarea + div, div.field_with_errors + div {
        position: absolute;
        top: -5px;
        left: 500px;
        min-width: 300px;
        width: 100%;
        display: none;
        background: #f6fff6;
        border: solid #e0ffd8 1px;
        border-radius: 3px;
        padding: 0.3em;
        color: #333333;
        font-size: 0.9em;
        box-shadow: -5px 5px 5px #777777;

        p {
          margin: 0;
          text-indent: 0;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            margin: 0 0 0 0.5em;
            list-style: none;

            span:first-of-type {
              background: #eeeeee;
              padding: 0.1em 0.3em;
            }
          }
        }
      }

      input:focus + div, textarea:focus + div {
        display: block;
      }
    }
  }
}
