article.new-dream, article.edit-dream {
  padding: 0.5rem;

  form {
    .lucidity, .mood {
      input[type=radio] {
        display: none;

        & + label {
          padding: 0 0.5rem;
          border: dotted #f7f7f7 1px;
          cursor: pointer;
        }

        &:checked + label {
          border: outset 1px;
        }
      }
    }
  }
}

.dream {
  > h1 {
    &.lucid:after {
      content: '*';
    }

    &.visible_to_community {
      background: #f7f7f0 image_url('lock-yellow.png') no-repeat 100% 50% / 2rem 2rem;
    }

    &.personal {
      background: #f7f7f0 image_url('lock-red.png') no-repeat 100% 50% / 2rem 2rem;
    }
  }

  nav.tags {
    margin: 0.5rem;
    border: dotted 1px #f0f0f0;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        border: outset 1px;
        padding: 0 0.3rem;
        font-size: 0.9rem;
      }
    }
  }
}
