article.entry {
  &:first-of-type {
    margin-top: 1em;
  }

  header {
    min-height: 110px;
    background: #feefd0;
    border-radius: 0 25px 0 0;

    h2 {
      font-weight: normal;
      margin: 0 60px 0 110px;

      &:first-letter {
        text-transform: capitalize;
      }
    }

    > figure:first-child {
      float: left;
      width: 100px;
      height: 100px;
      margin: 5px;
    }

    div.privacy {
      float: left;
      width: 16px;
      height: 1.4em;
      background-repeat: no-repeat;

      &.privacy-1 {
        background-image: image_url('locks.gif');
        background-position: center left;
      }

      &.privacy-255 {
        background-image: image_url('locks.gif');
        background-position: center right;
      }
    }

    div.author {
      line-height: 1.4em;

      time {
        font-size: 0.9em;
        font-style: italic;
        margin-right: 60px;
      }
    }

    div.tags {
      border-top: dotted 1px;
      margin: 0.5em 0.5em 0 110px;

      > div {
        font-weight: bold;

        &:after {
          content: ':';
        }
      }

      nav {
        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0;
            padding: 0;

            a.described {
              font-weight: bold;
            }

            &:after {
              content: ', '
            }

            &:first-child:first-letter {
              text-transform: capitalize;
            }

            &:last-child:after {
              content: '';
            }
          }
        }
      }
    }
  }

  footer {
    border-top: solid #eeeeee 1px;
    min-height: 1.4em;

    > div:first-of-type {
      float: left;
    }

    > div:last-of-type {
      float: right;
    }
  }

  > div {
    padding: 0.5em 1em;

    .more {
      &:before {
        content: "( ";
      }
      &:after {
        content: " )";
      }
    }
  }

  aside {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;

    > div {
      float: right;
//      border: outset 1px;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      background: #f0f0ff;
      font-size: 30px;
      overflow: hidden;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
      text-shadow: -1px -1px 2px #fff, 1px 1px 2px #000;
      box-shadow: -1px -1px 2px #fff, 1px 1px 2px #000;
      color: #333333;
      font-weight: bold;

      &.pressed {
        background: #ddddff;
        text-shadow: -1px -1px 3px #fff, 1px 1px 3px #000;
        box-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        color: #333355;
      }
    }

    > ul {
      background: #f7f7f7;
      border-radius: 10px;
      margin-top: 58px;
      padding: 0;
      min-width: 200px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

      li {
        list-style: none;
        padding: 0 8px;
        border-radius: inherit;

        &:hover {
          background: #ffffff;
        }

        a {
          display: inline-block;
          width: 100%;

          &:first-letter {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

nav.adjacent-entries {
  min-height: 1.4em;
  margin: 16px 284px 16px 0;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &.previous {
        float: left;

        &:before {
          content: "← ";
        }
      }

      &.next {
        float: right;

        &:after {
          content: " →";
        }
      }
    }
  }
}