form.filter fieldset {
  font-size: $small_font_size;
  line-height: 2.4rem;

  > div {
    display: flex;
    flex-wrap: wrap;

    input {
      font-size: $small_font_size;
    }

    > div {
      font-weight: bold;
      min-width: 6.4rem;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        padding: 0 0.4rem;

        label {
          padding: 0 0.4rem;
        }

        input[type=radio] {
          display: none;

          &:checked + label {
            background: #aaffaa;
          }
        }
      }
    }
  }

  button {
    margin: 0.8rem 0 0 0;
    font-size: $small_font_size;
  }
}
