ul.flags {
  margin: 0 0.5rem 0 0;
  padding: 0;
  height: 1.25rem;
  float: left;

  li {
    list-style: none;
    float: left;
    width: 1.25rem;
    height: 1.25rem;
    background: no-repeat 0 0 / 1.25rem 1.25rem;
  }
}

article > ul.flags {
  float: none;
}

article > .footer > ul.flags, .preview > .footer > ul.flags {
  float: right;
  margin: 0.375rem 0.5rem 0 0;
}

.flags{
  .bot {
    background-image: image_url('icons/bot.png');

    &.set {
      background-image: image_url('icons/bot-set.png');
    }
  }

  .mobile {
    background-image: image_url('icons/mobile.png');

    &.set {
      background-image: image_url('icons/mobile-set.png');
    }
  }

  .browser {
    background-image: image_url('icons/browser.png');

    &.set {
      background-image: image_url('icons/browser-set.png');
    }
  }

  .active {
    background-image: image_url('icons/active.png');

    &.set {
      background-image: image_url('icons/active-set.png');
    }
  }

  .best {
    background-image: image_url('icons/best.png');

    &.set {
      background-image: image_url('icons/best-set.png');
    }
  }

  .described {
    background-image: image_url('icons/best.png');

    &.set {
      background-image: image_url('icons/best-set.png');
    }
  }

  .visible {
    background-image: image_url('icons/active.png');

    &.set {
      background-image: image_url('icons/active-set.png');
    }
  }

  .locked {
    background-image: image_url('icons/locked.png');

    &.set {
      background-image: image_url('icons/locked-set.png');
    }
  }
}
