article.front-page {
  > section {
    margin-bottom: 15px;
    border-bottom: dashed #e0e0e0 1px;

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }

    > section {
      width: 49%;

      > h1 {
        font-size: 1.1em;
        font-weight: normal;
        text-align: center;
      }

      &:first-of-type {
        float: left;
      }

      &:last-of-type {
        float: right;

      }

      .post-preview {
        border: dotted 1px #777777;
        border-radius: 4px;
        margin: 8px 0;

        .header {
          background: #f7f7f7;
          padding: 8px 15px;
          min-height: 50px;

          .image {
            float: left;
            margin-right: 8px;

            img {
              max-width: 50px;
            }
          }

          .title {
            font-weight: bold;
          }
          
          .author, time {
            font-size: 0.9em;
          }

          time {
            font-style: italic;
            float: right;
            color: #777777;
          }
        }

        .body {
          padding: 4px 15px;
          min-height: 100px;

          .image {
            float: left;
            margin-right: 8px;

            img {
              max-width: 100px;
            }
          }
        }
      }
    }
  }
}

section.tag-trends {
  ol, ul {
    margin: 0 0 0 30px;
  }
}