html {
  margin: 0;
  padding: 0;
  background: #271f1d image_url('moon.png') no-repeat 0 0;
  font-size: 16px;
}

h1, h2, h3, h4, h6, h6 {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

form {
  margin: 0;
  padding: 0;

  label {
    display: inline-block;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

body {
  max-width: 75rem;
  min-width: 40rem;
  margin: 0 auto;

  > header {
    height: 5rem;
    position: relative;

    .logo {
      width: calc(100% - 20rem);
      height: 3rem;

      img {
        padding: 1rem 0 0 0;
        float: left;
        max-width: 10rem;
        max-height: 2rem;
      }
    }
  }

  > footer {
    font-size: 0.8rem;
    color: #cec6b5;

    a:link, a:visited {
      color: #b2b9cd;
    }

    a:hover {
      color: #983d39;
    }
  }
}

#content {
  position: relative;
}

#main {
  margin-right: 20rem;
  background: #ffffff;
  min-width: 18rem;
  min-height: 20rem;
  padding: 1rem;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
}

.not-found {
  color: #B00100;
}

nav.main {
  height: 2rem;
  max-width: calc(100% - 20rem);

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 0;
      height: 2rem;

      a:link, a:visited {
        display: inline-block;
        height: 100%;
        padding: 0 1rem;
        line-height: 2rem;
        font-size: 1.2rem;
        color: #F7F7F7;
      }

      a:hover {
        background: rgba(127, 127, 127, 0.5);
      }
    }
  }
}

nav.options {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0 0.5rem;

      &:before {
        content: '[';
      }

      &:after {
        content: ']';
      }
    }
  }
}

div.notice {
  background: #eeffee image_url('notice.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #004000;
  border: dashed #ddeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.warning {
  background: #ffffee image_url('warning.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #404000;
  border: dashed #eeeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.error {
  background: #ffeeee image_url('error.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #400000;
  border: dashed #eedddd 1px;
  margin: 0 0 0.5rem 0;
}
