html {
  margin: 0;
  padding: 0;
  background: #1f263b;
  font-size: 16px;
}

h1, h2, h3, h4, h6, h6 {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

form {
  margin: 0;
  padding: 0;

  label {
    display: inline-block;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

body {
  max-width: 75rem;
  min-width: 40rem;
  margin: 0 auto;

  > header {
    position: relative;
    height: 10rem;
  }

  > footer {
    font-size: 0.8rem;
    color: #cec6b5;

    a:link, a:visited {
      color: #b2b9cd;
    }

    a:hover {
      color: #983d39;
    }
  }
}

#content {
  position: relative;
}

#main {
  margin-right: 20rem;
  background: #ffffff;
  min-width: 18rem;
  min-height: 20rem;
  padding: 1rem;
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
}
