html {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  padding: 0;
  background: #122129 image_url('bg-icons.png') repeat 0 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-variant: small-caps;
}

ol, ul, form, figure, dl {
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

img {
  border: none;
}

a:link {
  color: #3d6d88;
}

a:visited {
  color: #3e5c88;
}

input, textarea, button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 0.9em;
}

p {
  margin: 0.5em 0;

  &:first-of-type {
    margin: 0;
  }
}

label {
  display: inline-block;

  &:first-letter {
    text-transform: capitalize;
  }
}

progress {
  min-width: 300px;
}

span.not-found {
  color: #ff8080;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 900px;
  max-width: 1200px;
  background: image_url('moon.png') no-repeat 0 0;

  > header {
    position: relative;
    min-height: 150px;
    height: 150px;

    & a:link, & a:visited {
      color: #bdd4da;
    }

    & a:hover {
      color: #ff9600;
    }

    div.logo-and-nav {
      position: relative;
      margin-right: 300px;
      height: 100%;

      img {
        padding: 40px 0 0 45px;
      }

      > nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;


        li {
          list-style: none;
          display: inline-block;

          > a {
            display: inline-block;
            padding: 0 15px;
            font-size: 1.2em;

            &:hover {
              background: rgba(155, 127, 127, 0.3);
              border-radius: 5px;
            }
          }
        }
      }
    }

    div.auth {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      height: 100%;
      color: #F7F7F7;
      background: rgba(127, 127, 127, 0.3);
      border-radius: 16px;

      form {
        padding: 15px 15px 0 15px;

        fieldset {
          border: none;
          padding: 0;

          legend {
            font-weight: bold;
            font-size: 1.2em;
          }

          label {
            min-width: 80px;

            &:first-letter {
              text-transform: capitalize;
            }
          }
        }
      }

      > nav.auth-options {
        font-size: 0.9em;
        padding: 0 15px;

        li {
          display: inline-block;
          list-style: none;

          &:before {
            content: '[';
          }

          &:after {
            content: ']';
          }
        }
      }

      div.user-info {
        padding: 15px;

        > img {
          float: right;
        }

        nav {
          padding: 15px;
        }
      }
    }
  }

  > footer {
    color: #dadada;
    font-size: 0.8em;

    a:link, a:visited {
      color: #bdd4da;
    }

    > div {
      float: left;
      padding: 0 1em 0 0;
    }
  }
}

div#content {
  position: relative;
  background: #ffffff;
  border-radius: 15px;

  article > section, > section {
    > h1 {
      font-size: 1.4em;
    }
  }
}

div.notice {
  border: solid #478043 2px;
  border-radius: 0.5em;
  background: #e0ffd8;
  color: #002000;
  font-weight: bold;
  text-align: center;
  margin: 0 32px;
  padding: 0.5em;
}

p.notice {
  color: #666666;
  font-size: 0.8em;
}

div#main {
  margin-right: 300px;
  padding: 15px;
  min-height: 300px;

  > article, section {
    > ol, > ul {
      margin-left: 30px;
    }
  }
}

nav.options {
  li {
    list-style: none;
    display: inline-block;
    padding: 0 15px;

    &:before {
      content: '[';
    }

    &:after {
      content: ']';
    }
  }
}

div#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;

  > section {
    background: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
    margin: 15px 15px 15px 0;

    h1 {
      font-size: 1.3em;
    }

    h2 {
      font-size: 1.1em;
    }

    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

div.social-buttons {
  margin: 0;
  position: relative;
  padding: 0.5em;
  clear: both;

  div.addthis-container {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}

nav.pagination {
  margin: 1em 1em 0;

  span {
    display: inline-block;
    padding: 0 0.3em;
    border: solid #eeeeee 1px;

    &.current {
      background: #eeeeee;
    }

    &.gap {
      border: none;
    }
  }
}

div.field_with_errors {
  background: #ffcccc;
}

section.errors {
  margin: 15px;
  background: #fff0f0;
  border: solid #ffcccc 2px;
  padding: 15px;
  border-radius: 15px;

  ul {
    margin: 0 0 0 30px;
  }
}

nav.adjacent-entries {
  min-height: 1.4em;
  margin: 16px 0;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      &.previous {
        float: left;

        &:before {
          content: "← ";
        }
      }

      &.next {
        float: right;

        &:after {
          content: " →";
        }
      }
    }
  }
}

div.track {
  border: dotted #777777 1px;
  font-size: 0.8em;
  padding: 5px;
  color: #777777;
}
