html {
  margin: 0;
  padding: 0 0 0 2rem;
  background: #181017 image_url('background.jpg') no-repeat 0 0 / 28.5em 22.5em;
  font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
}

h1, h2, h3, h4, h6, h6 {
  margin: 0;
  padding: 0;
  font-variant: small-caps;
}

p {
  margin: 0.5rem 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

a:link {
  color: #3d6d88;
}

a:visited {
  color: #3e5c88;
}

form {
  margin: 0;
  padding: 0;

  label {
    display: inline-block;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  input, textarea, button {
    font-family: "PT Serif", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1rem;
  }

  input:invalid, textarea:invalid {
    background: #fff7f7;
    border-left: solid #ff8080 0.25rem;
  }
}

body {
  max-width: 72rem;
  min-width: 40rem;
  margin: 0;

  > header {
    height: 2rem;

    .logo {
      float: left;
      width: 10rem;
      height: 2rem;

      img {
        float: left;
        width: 10rem;
        height: 2rem;
      }
    }
  }

  > footer {
    font-size: 0.75rem;
    color: #cec6b5;

    a:link, a:visited {
      color: #b2b9cd;
    }

    a:hover {
      color: #983d39;
    }
  }
}

#content {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
}

#main {
  background: #ffffff image_url('content-background.jpg') no-repeat 0 0 / 26rem 20rem;
  min-height: 20rem;
  max-width: 51rem;
  margin-right: 20rem;

  > nav.main {
    height: 2rem;
    border-bottom: solid rgba(24, 131, 211, 0.8) 0.125rem;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;
        padding: 0;
        height: 2rem;

        a:link, a:visited {
          display: inline-block;
          padding: 0 0.5rem;
          line-height: 2rem;
          font-size: 1.125rem;
          color: #1883d3;
          text-decoration: none;
        }

        a:hover {
          background: rgba(24, 131, 211, 0.2);
          text-decoration: underline;
          color: #d46800;
        }
      }
    }
  }

  > article {
    padding: 0.5rem;

    > h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      border-bottom: solid rgba(201, 181, 161, 0.3) 0.125rem;
    }

    div.body {
      padding: 0.5rem;
    }

    > section {
      > h1 {
        font-size: 1.25rem;
        line-height: 1.5rem;
      }

      > section {
        > h1 {
          font-size: 1.25rem;
          line-height: 1.5rem;
          font-weight: normal;
        }
      }
    }
  }
}

section.preview {
  margin-bottom: 1rem;

  > h1 {
    padding: 0.5rem;
    background: rgba(201, 181, 161, 0.2);
  }

  > .body {
    padding: 0.5rem;

    .image {
      float: right;
      margin: 0 0 0 0.5rem;

      img {
        max-width: 6rem;
        max-height: 6rem;
      }
    }
  }

  &:last-of-type {
    margin-bottom: inherit;
  }
}

div.tags {
  margin-top: 1rem;
  font-size: 0.8125rem;

  span {
    font-weight: bold;
    font-variant: small-caps;
  }

  a {
    margin: 0 0.25rem;
  }
}

div.footer {
  background: rgba(201, 181, 161, 0.2);
  height: 2rem;

  .avatar {
    float: left;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    img {
      max-width: 2rem;
      max-height: 2rem;
    }
  }

  .author {
    font-size: 1rem;
    line-height: 2rem;
  }

  time {
    font-size: 0.75rem;
    line-height: 2rem;
    margin-left: 1rem;
  }

  .count {
    line-height: 2rem;
    float: right;
    margin-right: 0.5rem;
  }
}

.not-found {
  color: #B00100;
}

div.social-buttons {
  clear: both;
  margin: 0.5rem 0;
}

div.notice {
  background: #eeffee image_url('notice.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #004000;
  border: dashed #ddeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.warning {
  background: #ffffee image_url('warning.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #404000;
  border: dashed #eeeedd 1px;
  margin: 0 0 0.5rem 0;
}

div.error {
  background: #ffeeee image_url('error.png') no-repeat 1rem 1rem / 1rem 1rem;
  padding: 1rem 1rem 1rem 3rem;
  color: #400000;
  border: dashed #eedddd 1px;
  margin: 0 0 0.5rem 0;
}

div.track {
  border: dotted #777777 1px;
  font-size: 0.75rem;
  padding: 0.5rem;
  color: #404040;
}

ul.entities {
  margin: 0;
  padding: 0;

  > li {
    margin: 0 0 0.25rem 0;
    padding: 0;
    list-style: none;
    line-height: 1.25rem;

    &:last-of-type {
      margin: 0;
    }

    > div {
      display: inline-block;
    }
  }
}
