article.front-page {
  padding: 0.5rem;
}

section.recent {
  display: flex;
  flex-wrap: wrap;

  > h1 {
    width: 100%;
  }
}

div.glimpse {
  min-width: 12rem;
  width: 50%;
  height: 14rem;
  margin: 0 0 0.5rem 0;
  overflow: hidden;

  > div {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
  }

  .header {
    height: 3rem;
    overflow: scroll;
    background: #f7f7f0;

    .title {
      line-height: 1.5rem;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author {
      line-height: 1.5rem;
    }

    time {
      float: right;
      font-size: 0.75rem;
      font-style: italic;
      line-height: 1.5rem;
    }
  }

  .body {
    border: solid #f7f7f7 1px;
    height: 9rem;
    overflow: scroll;
  }

  .footer {
    height: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: right;
    background: #f7f7f7;
  }
}

@media screen and (max-width: 800px) {
  div.glimpse {
    width: 100%;

    > div {
      margin: 0;
    }
  }
}