div.message-box {
  background-repeat: no-repeat;
  background-position: 1.6rem 1.6rem;
  background-size: 1.6rem 1.6rem;
  margin: 0 0 0.8rem 0;
  padding: 1.6rem 1.6rem 1.6rem 4.8rem;
  border-style: dashed;
  border-width: 0.1rem;
}

div.notice {
  @extend div.message-box;
  background-color: #eeffee;
  background-image: image_url('icons/message-box/notice.png');
  color: #004000;
  border-color: #ddeedd;
}

div.warning {
  @extend div.message-box;
  background-color: #ffffee;
  background-image: image_url('icons/message-box/warning.png');
  color: #404000;
  border-color: #eeeedd;
}

div.alert {
  @extend div.message-box;
  background-color: #ffeeee;
  background-image: image_url('icons/message-box/alert.png');
  color: #400000;
  border-color: #eedddd;
}

section.errors {
  border: solid #eedddd 0.1rem;
  padding: 1.6rem;
  margin: 1.6rem;

  > h2 {
    color: #400000;
    background: #ffeeee image_url('icons/message-box/alert.png') no-repeat center left 1.6rem / 1.6rem 1.6rem;
    font-size: $large_font_size;
    padding: 1.6rem 1.6rem 1.6rem 4.8rem;
  }

  ol {
    color: #770000;
  }
}

.field_with_errors {
  display: inline-block;
  background: #fff7f7;
}

span.not-found {
  color: #ffaaaa;
  cursor: default;

  &:before {
    content: '\26A0';
    color: #ff0000;
    margin-right: 0.4rem;
  }
}
