nav.pagination {
  margin: 1em 1em 0;

  span {
    display: inline-block;
    padding: 0 0.3em;
    border: solid #eeeeee 1px;

    &.current {
      background: #eeeeee;
    }

    &.gap {
      border: none;
    }
  }
}
