article.dreambook {
  padding: 0.5rem;
}

#dreambook-search {
  margin: 1rem 0;
}

nav.dreambook-letters {
  margin: 0;
  padding: 0.3em;

  ul {
    margin: 0.4rem 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 0;
      border: solid 1px #eeeeee;
      min-width: 1.2rem;
      text-align: center;

      a:link, a:visited {
        display: inline-block;
        width: 100%;
        color: #3d6d88;
      }

      a:hover {
        color: #ff0000;
        background: #eeffee;
      }
    }
  }
}

ul.dreambook-symbols {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0 0.5rem;

    &:first-letter {
      text-transform: capitalize;
    }

    &:nth-of-type(2n) {
      background: #f0f0ff;
    }

    &:nth-of-type(2n+1) {
      background: #f7f7ff;
    }
  }
}

article.pattern {
  padding: 0.5rem;

  div.options {
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    background: #F7F7F7;

    p {
      margin: 0;
    }
  }

  > h1 {
    background: #f7f7f0;
    padding: 0.5rem;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .description {
    padding: 0.5rem;
    min-height: 10rem;

    .image {
      float: left;
      margin: 0 0.5rem 0 0;

      img {
        max-width: 10rem;
        max-height: 10rem;
      }
    }
  }

  .footer {
    padding: 0.5rem;
    font-size: 0.8rem;
    background: #F7F7F7;

    p {
      margin: 0;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.dreambook-word {
  margin: 0.5rem 0;

  h1 {
    background: #feefd0;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-variant: small-caps;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  > div {
    padding: 0 0.5rem;
  }
}
