article.edit-post, article.edit-figure {
  form {
    table {
      @include entity-form-table;

      .preview {
        margin: 0;
        padding: 0;
        width: 20rem;

        img {
          max-width: 20rem;
          max-height: 20rem;
        }
      }
    }
  }
}

ul.list-of-posts, ul.list-of-figures {
  @include striped-list;

  li {
    @include list-item-with-image;
  }
}

ul.list-of-posts {
  li {
    .tags {
      font-size: $small_size;
      padding-left: 1rem;
      background: image_url('icons/tag.png') no-repeat center left / 0.75rem 0.75rem;
    }
  }
}