article.edit-post {
  form {
    figure {
      margin: 0;
      padding: 0;
      max-width: 20rem;
      position: relative;
      text-align: center;

      img {
        max-width: 20rem;
        max-height: 20rem;
      }

      figcaption {
        position: absolute;
        left: 0;
        bottom: 1rem;
        background: rgba(127, 127, 127, 0.4);
        color: #ffffff;
        text-align: center;
        width: 100%;
        padding: 0.5rem 0;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}

.post {
  .body {
    min-height: 6rem;
  }
}

article.post {
  > .body {
    figure {
      float: right;
      margin: 0 0 0 0.5rem;

      img {
        max-width: 15rem;
        max-height: 15rem;
      }
    }
  }
}
