article.post {
  header {
    min-height: 110px;
    background: #feefd0;

    > div:first-child {
      float: left;
      width: 100px;
      height: 100px;
      margin: 5px;
    }

    div.author {
      time {
        font-size: 0.9em;
        font-style: italic;
      }
    }

    div.tags {
      border-top: dotted 1px;
      margin: 0.5em 0.5em 0 110px;

      > div {
        font-weight: bold;

        &:after {
          content: ':';
        }
      }

      nav {
        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            margin: 0;
            padding: 0;

            &:after {
              content: ', '
            }

            &:last-child:after {
              content: '';
            }
          }
        }
      }
    }
  }

  > div {
    padding: 0.5em 1em;

    .more {
      &:before {
        content: "( ";
      }
      &:after {
        content: " )";
      }
    }
  }
}