div.post-preview {
  border: dotted 1px #777777;
  border-radius: 4px;
  margin: 8px 0;

  .header {
    background: #f7f7f7;
    padding: 8px 15px;
    min-height: 50px;

    .image {
      float: left;
      margin-right: 8px;

      img {
        max-width: 50px;
      }
    }

    .title {
      font-weight: bold;
    }

    .author, time {
      font-size: 0.9em;
    }

    time {
      font-style: italic;
      float: right;
      color: #777777;
    }
  }

  .body {
    padding: 4px 15px;
    min-height: 100px;

    .image {
      float: left;
      margin-right: 8px;

      img {
        max-width: 100px;
      }
    }
  }

  .footer {
    border-top: solid #eeeeee 1px;
    background: #F0F0F0;
    min-height: 1.4em;
    padding: 0 15px;
    font-size: 0.9em;

    > div.comment-count {
      float: right;
    }
  }
}


article.post {
  header {
    padding: 0 15px;
    background: #f7f7f7;
    border-radius: 15px 15px 0 0;
  }

  section {
    padding: 0 15px;

    &.body {
      min-height: 300px;

      figure {
        float: left;
        margin: 15px 15px 0 0;

        img {
          max-width: 250px;
          max-height: 250px;
        }
      }
    }

    &.info {
      background: #f7f7f7;
      border-radius: 0 0 15px 15px;
      text-align: right;

      time {
        font-size: 0.9em;
        font-style: italic;
      }
    }
  }
}