article.edit-post, article.edit-figure {
  form {
    table {
      @include entity-form-table;
    }
  }
}

ul.list-of-posts, ul.list-of-figures {
  @include striped-list;

  li {
    @include list-item-with-image;
  }
}

ul.list-of-posts {
  li {
    .tags {
      font-size: $small_size;
      padding-left: 1rem;
      background: image_url('icons/tag.png') no-repeat center left / 0.75rem 0.75rem;
    }
  }
}

ul.list-of-figures {
  li {
    input[type=text] {
      width: auto;
    }
  }
}

.post-preview {
  margin: 0.5rem 0;

  .heading {
    background: $row_background_even;
    font-size: $large_size;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;

    .image {
      flex-basis: 10rem;
      margin: 0 0.5rem 0 0;

      img {
        max-width: 10rem;
        max-height: 10rem;
      }
    }

    .lead {
      flex: 1;
    }
  }

  .footer {
    background: $row_background_odd;

    .author {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      time {
        font-style: italic;
        font-size: $decreased_size;
      }
    }

    .tags {
      margin: 0.5rem 0 0 0;
      font-size: $decreased_size;
    }
  }
}