.new-profile {
  > section {
    margin: 0 0 0.5rem 0;
    border-bottom: #aaaaaa dotted 1px;
  }

  ul {
    margin: 0;
    padding: 0 0 0 2rem;

    li {
      p {
        margin: 0;
      }
    }
  }
}