.question, .answer {
  margin: 0 0 15px 0;

  .header {
    background: #fef9ee;
    padding: 5px;

    img {
      float: left;
      max-width: 25px;
      max-height: 25px;
      margin: 0 5px 0 0;
    }

    span {
      a {
        line-height: 25px;
      }
    }

    time {
      line-height: 25px;
      font-size: 0.8em;
      float: right;
      color: #444444;
    }
  }

  .body {
    padding: 5px 15px;
  }

  .footer {
    background: #FaFaFa;
    padding: 3px 15px;
  }
}

.question > .header {
  background: #f7f7f7;
}