article.questions, article.question {
  padding: 0.5rem;
}

.question {
  margin: 0 0 0.5rem 0;

  h1 {
    background: #f7f7f0;
    padding: 0.5rem;
  }

  > form {
    margin: 0.5rem;
    padding: 0.5rem;
    border-top: dotted 1px;
  }

  .body {
    padding: 0.5rem;
  }

  .footer {
    background: #F7F7F7;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    font-size: 0.9rem;

    .controls {
      margin: 0.25rem 0;
    }

    .avatar {
      float: left;
      height: 2rem;
      margin-right: 0.5rem;

      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    .count {
      float: right;
    }
  }
}