// Common font sizes
$huge_font_size: 2.4rem;      // 24px
$larger_font_size: 2.2rem;    // 22px
$large_font_size: 2rem;       // 20px
$increased_font_size: 1.8rem; // 18px
$normal_font_size: 1.6rem;    // 16px
$decreased_font_size: 1.4rem; // 14px
$small_font_size: 1.2rem;     // 12px
$smaller_font_size: 1rem;     // 10px
$tiny_font_size: 0.8rem;      // 8px

// Zebra for lists
$row_background_even: #f0f0f0;
$row_background_odd: #fafafa;

// Colors of text
$primary_text_color: #000000;
$secondary_text_color: #777777;

$content-width: 99.2rem;

$block-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
