// Здесь можно переобъявлять то, что описано в biovision/base/default,
// а также добавлять новые общие стили

$font-family-nav: "Roboto Condensed", sans-serif;

$content-width: 120rem;

$text-color-inverted-primary: #fff;
$text-color-inverted-secondary: #ccc;

$background-body: radial-gradient(circle at bottom left, #d4d2d0, #ffefe7) fixed no-repeat;
$bg-main: #fff;
$bg-shader: rgba(255, 255, 255, .5);
$bg-footer: rgba(0, 0, 0, .5);
$bg-stripe: radial-gradient(circle at top right, #fff6f2, #ffefe7) fixed no-repeat;

$block-shadow: .2rem .2rem .4rem rgba(0, 0, 0, .25);
$block-shadow-wide: .2rem .2rem .4rem rgba(0, 0, 0, .125), .2rem .2rem .8rem rgba(0, 0, 0, .125);

@import "biovision/base/default";
