article.side-note {
  > h1 {
    padding: 0 0.5rem;
    background: #f7f7f7;
  }

  figure {
    float: right;
    margin: 0 0 0 0.5rem;
    padding: 0;

    img {
      max-width: 15rem;
      max-height: 22.5rem;
    }
  }

  > .body {
    padding: 0.5rem;
    min-height: 22.5rem;
  }

  > .footer {
    background: #f7f7f7;
    padding: 0 0.5rem;
    height: 2rem;

    .avatar {
      float: left;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;

      img {
        max-width: 2rem;
        max-height: 2rem;
      }
    }

    .author {
      line-height: 2rem;
    }

    time {
      float: right;
      font-size: 0.875rem;
      font-style: italic;
      line-height: 2rem;
    }
  }
}

.side-note > img {
  max-width: 18rem;
  max-height: 27rem;
}