
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;

  > div {
    background: #ffffff;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .options {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0 0.5rem;

        &:before {
          content: '[';
        }

        &:after {
          content: ']';
        }
      }
    }
  }
}
