article.edit-browser {
  outline: solid red 1px;

  form {
    outline: solid green 1px;

    table {
      outline: solid blue 1px;
      @include entity-form-table;
    }
  }
}

article.edit-agent {
  form {
    table {
      @include  entity-form-table;
    }
  }
}

article.browser {
  table {
    @include entity-table;
  }
}

ul.list-of-browsers {
  @include striped-list;
}

ul.list-of-agents {
  @include striped-list;
}
