article.edit-browser {
  form {
    table {
      @include entity-form-table;
    }
  }
}

article.edit-agent {
  form {
    table {
      @include  entity-form-table;
    }
  }
}

article.browser {
  table {
    @include entity-table;
  }
}

ul.list-of-browsers {
  @include striped-list;
}

ul.list-of-agents {
  @include striped-list;

  &.dynamic {
    li {
      display: flex;
      align-items: center;

      .actions {
        flex-basis: 2.5rem;

        button {
          text-align: center;
          width: 2rem;
          height: 2rem;
          font-size: $increased_size;
          box-sizing: border-box;
          border-radius: 0.25rem;
        }
      }

      .data {
        flex: 1;
        margin: 0 0 0 0.5rem;
      }
    }
  }
}

#agents-filter {
  .pages {
    display: flex;
    align-items: center;

    button {
      width: 2rem;
      height: 1.2rem;
      padding: 0;
      margin: 0;
    }
  }
}

div.track {
  font-size: $small_size;
  margin: 0.25rem;
  padding: 0.25rem;
  border: dotted 0.0625rem;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
