#agents-filter {
  .pages {
    display: flex;
    align-items: center;

    button {
      width: 2rem;
      height: 1.2rem;
      padding: 0;
      margin: 0;
    }
  }
}

div.track {
  font-size: $small_font_size;
  margin: 4rem;
  padding: 4rem;
  border: dotted 0.1rem;

  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
