a.profile {
  padding-left: 2rem;
  background: no-repeat 0 center / 1.6rem 1.6rem;

  &.native {
    background-image: image_url('icons/login/native.png');
  }

  &.vkontakte {
    background-image: image_url('icons/login/vkontakte.png');
  }

  &.twitter {
    background-image: image_url('icons/login/twitter.png');
  }

  &.facebook {
    background-image: image_url('icons/login/facebook.png');
  }
}

article.recovery {
  form {
    label {
      display: inline-block;
      min-width: 20rem;
    }
  }
}
