a.native:after {
  content: ' (N)';
}

a.vk:after {
  content: ' (vk)';
}

a.twitter:after {
  content: ' (tw)';
}

a.mail_ru:after {
  content: ' (mail_ru)';
}

a.fb:after {
  content: ' (fb)';
}

.user-profile {
  min-height: 20rem;

  figure {
    float: left;
    position: relative;
    margin: 1rem;

    img {
      max-width: 12rem;
      max-height: 12rem;
    }

    figcaption {
      position: absolute;
      bottom: 1rem;
      left: 0;
      background: rgba(127, 127, 127, 0.6);
      color: #ffffff;
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.4rem;
    }
  }

  table {
    margin: 0 1rem;

    th {
      text-align: left;
    }
  }
}

article.profile {
  figure {
    margin: 1em;

    figcaption {
      font-size: 0.9em;
      color: #777777;
    }

    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

article.recovery {
  form {
    label {
      display: inline-block;
      min-width: 200px;
    }
  }
}