a.profile {
  padding-left: 1.25rem;
  background: no-repeat 0 center / 1rem 1rem;

  &.native {
    background-image: image_url('icons/login/native.png');
  }

  &.vkontakte {
    background-image: image_url('icons/login/vkontakte.png');
  }

  &.twitter {
    background-image: image_url('icons/login/twitter.png');
  }

  &.facebook {
    background-image: image_url('icons/login/facebook.png');
  }
}

article.user {
  figure {
    margin: 0;
    padding: 0;

    img {
      max-width: 20rem;
      max-height: 20rem;
    }
  }

  table {
    @include entity-table;
  }
}

article.profile {
  form {
    table {
      @include entity-form-table;
    }
  }
}

article.recovery {
  form {
    label {
      display: inline-block;
      min-width: 12.5rem;
    }
  }
}

article.edit-user {
  form {
    table {
      @include entity-form-table;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}

ul.users-list {
  @include striped-list;

  li {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .image {
      width: 4rem;
      height: 4rem;
      margin: 0 0.5rem 0 0;

      img {
        max-width: 4rem;
        max-height: 4rem;
      }
    }

    .times {
      font-size: $small_size;

      time {
        font-style: italic;
      }
    }
  }
}
