article.user-profile {
  min-height: 220px;
  
  figure {
    float: left;
    position: relative;
    margin: 15px;

    img {
      max-width: 200px;
      max-height: 200px;
      border-radius: 15px;
    }

    figcaption {
      position: absolute;
      bottom: 15px;
      left: 0;
      background: rgba(127, 127, 127, 0.6);
      color: #ffffff;
      width: 100%;
      text-align: center;
      font-size: 1.1em;
      font-weight: bold;
      line-height: 1.4em;
    }
  }

  table {
    margin: 0 15px;

    th {
      text-align: left;
    }
  }
}