ul.violators {
  li {
    time {
      color: #444444;
    }
    span {
      &:first-of-type {
        font-weight: bold;
      }

      &.agent {
        font-size: 0.8em;
        color: #777777;
      }
    }
  }
}