<article>
  <header>
    <h2>Что такое зёрна восприятия?</h2>
  </header>

  <p>
    Зерно восприятия — это единица того, что мы воспринимаем. Оно может быть как каким-то отдельным предметом,
    так и событием или человеком, чем угодно. Это то, что так или иначе откладывается в вашей памяти цельным
    фрагментом.
  </p>
  <p>
    Вся наша жизнь состоит из таких зёрен, они используются нашим подсознанием для создания образов в снах.
    Описывая эти зёрна, собирая их одно за другим, мы можем шаг за шагом собрать мозаику событий из нашей жизни
    и понять, как они влияют на наши сны в частности и на жизнь в целом (в том числе на поведение).
  </p>
  <p>
    Конечной целью сбора зёрен является то состояние, когда вы можете вспомнить каждый момент своей жизни.
  </p>
  <p>
    Описанное зерно видно только тому, кто его описал. Можно использовать метки, как в обычных записях
    (например, люди, детство, события, действия, названия конкретных мест, имена людей и так далее).
  </p>
  <p>
    Собирать свои зёрна могут только зарегистрированные пользователи.
  </p>

  <% unless current_user.nil? %>
  <p><%= link_to 'Ваши зёрна', my_grains_path %>.</p>
  <p><%= link_to 'Добавить зерно восприятия', new_entry_grain_path %>.</p>
  <% end %>
  <footer>
    <%= render 'layouts/social' %>
  </footer>
</article>