<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <%= render 'sidebar/more_links' %>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <p>Зерно восприятия — это единица того, что мы воспринимаем. Оно может быть как каким-то отдельным предметом,
    так и событием или человеком, чем угодно. Это то, что так или иначе откладывается в вашей памяти цельным
    фрагментом.</p>

  <p>Вся наша жизнь состоит из таких зёрен, они используются нашим подсознанием для создания образов в снах.
    Описывая эти зёрна, собирая их одно за другим, мы можем шаг за шагом собрать мозаику событий из нашей
    жизни и понять, как они влияют на наши сны в частности и на жизнь в целом (в том числе на поведение).</p>

  <p>Конечной целью сбора зёрен является то состояние, когда вы можете вспомнить каждый момент своей жизни.</p>

  <% if current_user.is_a? User %>
      <p><%= link_to 'Ваши зёрна восприятия', my_grains_path %>.</p>
  <% end %>
</article>
