<% content_for :meta_title, t('.title', user: @user.login) %>

<article class="profile">
  <header>
    <h1><%= t('.header') %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:view), admin_user_path(@user) %></li>
        <li><%= link_to t(:list), admin_users_path %></li>
      </ul>
    </nav>
  </header>

  <section>
    <%= render 'form' %>
  </section>
</article>
