<% content_for :meta_title, t('.title') %>

<article class="profile">
  <header>
    <h1><%= t('.title') %></h1>
    <nav class="options">
      <ul>
        <li><%= link_to t(:list), admin_users_path %></li>
      </ul>
    </nav>
  </header>

  <%= render 'form' %>
</article>
