<section class="index-dreams">
  <h2>Недавние сны</h2>

  <%=
    render(
        partial: 'dreams/list',
        locals: {
            collection: Dream.page_for_visitor(current_user),
            handler: Biovision::Components::BaseComponent.handler('dreams', current_user)
        }
    )
  %>

  <footer>
    <nav><%= link_to('Все сны', dreams_path, class: 'button-nav') %></nav>
  </footer>
</section>
