<section class="index-dreambook">
  <h2>Сонник</h2>

  <aside class="text"><%= raw SimpleBlock['index-dreambook'] %></aside>

  <h3>Поиск по соннику</h3>

  <%= render partial: 'dreambook/form', locals: { query: '' } %>

  <%= render 'dreambook/letters' %>
</section>
