.feedback_request-form {
  max-width: 48rem;

  .fields {
    > div {
      margin-bottom: var(--spacer-xs);
    }

    input:not([type=checkbox]),
    textarea {
      margin: 0;
      padding: var(--spacer-xxs) var(--spacer-xs);
      width: 100%;
    }
  }
}
