#main-footer {
  color: $text-color-secondary;
  font-size: var(--font-size-decreased);
  margin-top: auto;

  > div {
    background: $bg-shader;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $content-width;
    padding: var(--spacer-s);
  }

  nav {
    margin: 0 0 0 auto;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    li {
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      padding: var(--spacer-xxs);
    }
  }
}
