.homepage {
  h1,
  h2 {
    font-size: var(--font-size-xl);
    text-align: center;
  }

  .content-wrapper {
    padding: 0;
  }
}

.index-about {
  padding: var(--spacer-m);
}

.index-dreams {
  border-top: $border-secondary;
  padding: var(--spacer-m) 0;

  footer {
    margin-top: var(--spacer-s);
    text-align: center;
  }
}

.index-dreambook {
  border-top: $border-secondary;
  padding: var(--spacer-m) 0;

  .text {
    padding: 0 var(--spacer-m);
  }

  nav {
    h2 {
      font-size: var(--font-size-increased);
    }
  }

  h3 {
    text-align: center;
  }
}

.index-posts {
  border-top: $border-secondary;
  padding: var(--spacer-m) 0;
}

@media (max-width: 800px) {
  .index-about {
    padding-left: var(--spacer-s);
    padding-right: var(--spacer-s);
  }
}
