#main-header {
  > div {
    background: $bg-shader;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $content-width;
    padding: 0 var(--spacer-s);
  }

  .logo {
    width: 16rem;
  }

  .authentication {
    margin: 0 0 0 auto;
    padding: var(--spacer-s) 0;
  }

  nav {
    background: $bg-shader;
    margin: 0 auto;
    max-width: $content-width;
    padding: 0;

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0 var(--spacer-xs);
    }

    li {
      background: $background-main;
      margin: 0;
      padding: 0 var(--spacer-xs);
    }

    a {
      display: inline-block;
      padding: var(--spacer-xs);
    }
  }
}
