//* { outline: solid pink 1px; }

//:focus {
//  outline: none;
//}

html {
  height: 100%;
}

body {
  background: $background-body;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  height: 100%;
}

#main {
  flex: 1;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: $font-family-heading;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-increased);
}

.breadcrumbs {
  background: $background-main;
  font-family: $font-family-nav;
  margin: 0 auto;
  max-width: $content-width;

  > div {
    padding: var(--spacer-xs);
  }
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;
}

article {
  .content-wrapper {
    background-color: $background-main;
    padding: var(--spacer-xs);
    position: relative;
  }
}

div.track {
  background: $bg-main;
  margin: 0 auto;
  max-width: $content-width;
  padding: var(--spacer-xs);
}

.author {
  .image {
    border-radius: 50%;
    height: 2.4rem;
    margin-right: var(--spacer-xxs);
    overflow: hidden;
    width: 2.4rem;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@import "application/layout/header";
@import "application/layout/footer";
@import "application/layout/authentication";
@import "application/frontpage";
@import "application/feedback";
