<% content_for :meta_title, t('.title') %>
<% content_for :sidebar do %>
    <%= render 'sidebar/more_links' %>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <p>При описании сна можно указывать место, в котором этот сон вам приснился. Когда снов с привязкой к месту будет
    достаточно много, вы сможете оценивать, например, атмосферу каждого места, насколько комфортно его использовать
    для того, чтобы смотреть сны.</p>
  <p>Для места можно указать название, положение тела (азимут направления головы) и координаты, а также прикрепить
    картинку для себя.</p>
  <p>Каждое место видно только тому, кто его описал.</p>
  <% if current_user.is_a? User %>
      <p><%= link_to t('my.places.index.header'), my_places_path %>.</p>
  <% end %>
</article>
