<% content_for :meta_title, t('.title', name: @entity.name) %>
<%= render 'shared/metrics' %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_place_path %></li>
    <li><%= link_to t(:edit), edit_place_path(@entity) %></li>
  </ul>
</nav>

<%= render @entity %>
