<header>
  <div class="logo"><%= link_to image_tag('sovia5.png', alt: 'ᛊᛟᚹᛁᚨ (Sovia)'), root_path, accesskey: '0' %></div>
  <%= render 'layouts/header/authentication' %>
  <%= render 'layouts/header/main_navigation' %>
</header>
