<header role="banner">
  <div class="logo-and-nav">
    <%= link_to(image_tag('owl.png', alt: 'Sovia'), root_path) %>
    <%= render 'layouts/main_navigation' %>
  </div>
  <%= render 'layouts/auth_block' %>
</header>
