<% dream = Entry::Dream.random_dream %>
<aside>
  <% unless dream.nil? %>
  <hgroup>
    <h1><%= t('dreams.random.title') %></h1>
    <h2><%= link_to dream.parsed_title, verbose_entry_path(dream) %></h2>
  </hgroup>
  <div>
    <p><%= dream.glimpse %>&#0133;</p>
  </div>
  <% end %>
</aside>
