<% tags = Tag::Dream.trends %>
<div>
  <h2><%= t('.statistics') %></h2>
  <% if tags.any? %>
      <nav>
        <ol>
          <% tags.each do |tag, weight| %>
              <li><%= tagged_entries_path(tag) %> (<%= weight %>)</li>
          <% end %>
        </ol>
      </nav>
  <% else %>
      <div><%= t('nothing_found') %></div>
  <% end %>
</div>
