<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |grain| %>
        <li><%= render partial: 'my/grains/entity/in_list', locals: { grain: grain } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
